<%= simple_form_for(@item_category) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <b>* Department </b></br>
    <%= f.collection_select :department_id, Department.managing_items.all, :id, :name, include_blank: true %>
    <%= f.input :name %>
    <%= f.input :status, :as => :select, :collection => ["Active", "Inactive"] %>
    <%= f.input :description, :as => :text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
