<%= simple_form_for(@channel) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :person %>
    <%= f.input :category %>
    <%= f.input :name, :label => 'Description' %>
    <%= f.input :content %>
    <%= f.input :priority %>
    <%= f.input :carrier %>
    <%= f.input :usage %>
    <%= f.input :status %>
    <%= f.input :last_verified %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

