<%= simple_form_for(@channel) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :person %>
    <%= f.input :name %>
    <%= f.input :content %>
    <%= f.input :priority %>
    <%= f.input :category %>
    <%= f.input :carrier %>
    <%= f.input :last_verified %>
    <%= f.input :usage %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
