<%= simple_form_for(@channel) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :person %>
    <%= f.input :category %>
    <%= f.input :name, :label => 'Description' %>
    <%= f.input :content %>
    <%= f.input :priority %>
    <%= f.input :carrier %>
    <%= f.input :usage %>
    <%= f.input :status %>
    <%= f.input :last_verified, as: :string,
                input_html: { class: "datetimepicker", size: 11,
                              value: format_datetime_value(f.object.last_verified) } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>