<h1>Listing messages</h1>

<table>
  <tr>
    <th>Subject</th>
    <th>Status</th>
    <th>Body</th>
    <th>Channels</th>
    <th>Sent at</th>
    <th>Created by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.subject %></td>
    <td><%= message.status %></td>
    <td><%= message.body %></td>
    <td><%= message.channels %></td>
    <td><%= message.sent_at %></td>
    <td><%= message.created_by %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
