<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @message.subject %>
</p>

<p>
  <b>Status:</b>
  <%= @message.status %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>

<p>
  <b>Channels:</b>
  <%= @message.channels %>
</p>

<p>
  <b>Sent at:</b>
  <%= @message.sent_at %>
</p>

<p>
  <b>Created by:</b>
  <%= @message.created_by %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
