

<%= @person.fullname %>, you have a certification that is expiring.
<%= @cert.to_s %> will expire soon.

records system
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>