<%= simple_form_for(@resource_type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :fema_kind, :label => 'Fema Resource Kind' %>
    <%= f.input :fema_code, :label => 'Fema Resource Code'  %>
    <%= f.input :status, :as => :select, :collection => ["Active", "Inactive"] %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>