<% content_for :sidebar do %>
  <%= sidebar_button_link 'Edit', edit_resource_type_path(@resource_type) %>
  <%= sidebar_button_link 'Back', resource_types_path %>
<% end %>

<p>
  <b>Name:</b>
  <%= @resource_type.name %>
</p>

<p>
  <b>Status:</b>
  <%= @resource_type.status %>
</p>

<p>
  <b>Description:</b>
  <%= @resource_type.description %>
</p>

<p>
  <b>Fema code:</b>
  <%= @resource_type.fema_code %>
</p>

<p>
  <b>Fema kind:</b>
  <%= @resource_type.fema_kind %>
</p>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>