<% content_for :sidebar do %>
  <h4>Assignment for:</br> <%= @requirement %> </br> <%= @requirement.task %></h4>
  <p id="notice"><%= notice %></p>
<% end %>

<%= render 'form' %>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>