<% content_for :table_headers do %>
  <th>Name</th>
  <th>Department</th>
  <th>Application date</th>
  <th></th>
<% end %>
<% content_for :table_data do %>
  <% @people.each do |person| %>
    <tr>
      <td><%= link_to person.fullname, person %></td>
      <td><%= person.dept_shortname %></td>
      <td title=<%= person.application_date %> >
        <%= distance_of_time_in_words(Date.today, person.application_date) + ' ago' if person.application_date %>
      </td>
      <td><%= table_button_link 'Edit', edit_person_path(person) if can? :update, person %></td>
    </tr>
  <% end %>
<% end %>
