<%= simple_form_for(@resourcetype) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :femakind, :label => 'Fema Resource Kind' %>
    <%= f.input :femacode, :label => 'Fema Resource Code'  %>
    <%= f.input :status, :as => :select, :collection => ["Active", "Inactive"] %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
