<h1>Listing resourcetypes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Femakind</th>
    <th>Femacode</th>
    <th>Status</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resourcetypes.each do |resourcetype| %>
  <tr>
    <td><%= resourcetype.name %></td>
    <td><%= resourcetype.femakind %></td>
    <td><%= resourcetype.femacode %></td>
    <td><%= resourcetype.status %></td>
    <td><%= resourcetype.description %></td>
    <td><%= link_to 'Show', resourcetype %></td>
    <td><%= link_to 'Edit', edit_resourcetype_path(resourcetype) %></td>
    <td><%= link_to 'Destroy', resourcetype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resourcetype', new_resourcetype_path %>
