<%= simple_form_for @person do |f| %>

    <%= f.error_notification %>
    <%= f.input :firstname, :label => 'First Name' %>
    <%= f.input :lastname, :label => 'Last Name' %>
    <%= f.input :gender, :as => :select, :collection => ['Female', 'Male'] %>
    <%= f.input :date_of_birth, :as => :string, :placeholder => '12-31-1990', :input_html => { :size => 11 }  %>
    <%= f.input :zipcode, :input_html => { :size => 10 }  %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :status, :as => :select, :collection => Person::STATUS %>
    <%= f.input :end_date, :as => :string, :input_html => { :class => 'datepicker', :size => 11 }  %>
    <%= f.input :department, :as => :select, :collection => Person::DEPARTMENT %>

    <div>
    <h2> Contact information </h2>
        <%= f.simple_fields_for :channels do |channel| %>
            <%= render "channel_fields", :f => channel %>
        <br>
        <% end %>
    </div>

    <div>
        <%= link_to_add_association 'Add New Contact Method', f, :channels %>
    </div>

    <%= f.input :icsid, :input_html => { :size => 5 } %>
    <%= f.input :title, :as => :select, label: 'Rank', :collection => Person::TITLES %>
    <%= f.association :titles %>
    <%= f.input :start_date, :as => :string, :input_html => { :class => 'datepicker', :size => 11 }  %>
    <%= f.input :division1, :as => :select, :label => 'Division', :collection => Person::DIVISION1 %>
    <%= f.input :division2, :as => :select, :label => 'Squad', :collection => Person::DIVISION2 %>
    <%= f.input :comments, :input_html => { :size => 40}  %>
    <%= f.button :submit %>
<% end %>



