<%= simple_form_for @person do |f| %>
    <%= f.error_notification %>
    <%= f.input :firstname, :label => 'First Name' %>
    <%= f.input :lastname, :label => 'Last Name' %>
    <%= f.input :gender, :as => :select, :collection => ['Female', 'Male'] %>
    <%= f.input :date_of_birth, :as => :string, :placeholder => '12-31-1990', :input_html => { :size => 11 }  %>
    <%= f.input :zipcode, :input_html => { :size => 10 }  %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :status, :as => :select, :collection => Person::STATUS %>
    <%= f.input :end_date, :as => :string, :input_html => { :class => 'datepicker', :size => 11 }  %>
    <%= f.input :department, :as => :select, :collection => Person::DEPARTMENT %>
    <div class="form-horizontal">
        <h2> Phone information </h2>
        <% @phones.each do |phone| %>
          <%= f.simple_fields_for phone do |c| %>
            <fieldset>
              <%= c.input :category, :as => :select, :collection => Channel::CATEGORIES %>
              <%= c.input :content, :placeholder => '9785551212' %>
              <%= c.input :name, :label => 'Description' %>
              <%= c.input :status, :as => :select, :collection => Channel::STATUSES %>
              <%= c.input :usage, :as => :select, :collection => Channel::USAGES %>
              <%= c.input :carrier, :as => :select, :collection => Phone::CARRIERS %>
              <%= c.input :sms_available, as: :boolean %>
              <%= c.input :priority, :as => :select, :collection => Phone::PRIORITIES %>
              <%= c.input :channel_type, as: :select, collection: Phone::TYPES %>
            </fieldset>
          <% end %>
        <% end %>
    </div>
    <div class="form-horizontal">
      <h2> Email information </h2>
      <% @emails.each do |email| %>
        <%= f.simple_fields_for email do |c| %>
          <fieldset>
            <%= c.input :category, :as => :select, :collection => Channel::CATEGORIES %>
            <%= c.input :content, :placeholder => 'me@example.com' %>
            <%= c.input :name, :label => 'Description' %>
            <%= c.input :status, :as => :select, :collection => Channel::STATUSES %>
            <%= c.input :usage, :as => :select, :collection => Channel::USAGES %>
        <% end %>
      <% end %>
    </div>
    <%= f.input :icsid, :input_html => { :size => 5 } %>
    <%= f.input :title, :as => :select, label: 'Rank', :collection => Person::TITLES %>
    <%= f.association :titles %>
    <%= f.input :start_date, :as => :string, :input_html => { :class => 'datepicker', :size => 11 }  %>
    <%= f.input :division1, :as => :select, :label => 'Division', :collection => Person::DIVISION1 %>
    <%= f.input :division2, :as => :select, :label => 'Squad', :collection => Person::DIVISION2 %>
    <%= f.input :comments, :input_html => { :size => 40}  %>
    <%= f.button :submit %>
<% end %>
