 <h2> Phone information </h2>
        <%= f.simple_fields_for :phones do |c| %>
          <fieldset>
            <%= c.input :category, :as => :select, :collection => Channel::CATEGORIES %>
            <%= c.input :content, :placeholder => '9785551212' %>
            <%= c.input :name, :label => 'Description' %>
            <%= c.input :status, :as => :select, :collection => Channel::STATUSES %>
            <%= c.input :usage, :as => :select, :collection => Channel::USAGES %>
            <%= c.input :carrier, :as => :select, :collection => Phone::CARRIERS %>
            <%= c.input :sms_available %>
            <%= c.input :priority, :as => :select, :collection => Phone::PRIORITIES %>         
          </fieldset>
        <% end %>