<% content_for :sidebar do %>
  <h1>Editing Person</h1>
  <%= sidebar_button_link 'Cancel Edit', :back %>
  <br>
  <%= image_tag @person.portrait_url if @person.portrait.file.present? %>
<% end %>

<%= render 'form' %>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>