<h1>Listing people</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Status</th>
    <th>Division</th>
    <th>Squad</th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= link_to person.firstname, person %></td>
    <td><%= link_to person.lastname, person %></td>
    <td><%= person.status %></td>
    <td><%= person.division1 %></td>
    <td><%= person.division2 %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
