<% content_for :sidebar do %>
  <%= sidebar_button_link 'New Person', new_person_path if can? :create, Person %>
<% end %>

<table id="people" class="datatable table table-striped table-bordered" >
  <caption><h3><%= @page_title %></h3></caption>
  <thead>
    <tr>
      <th>(S)Rank Order</th>
      <th>Title</th>
      <th>(S)Last Name</th>
      <th>Name</th>
      <th>Badge</th>
      <th>(S) Start Date</th>
      <th>Duration</th>
      <th>Phone</th>
      <th>E-Mail</th>
      <th>Dept</th>
      <th>Division 1</th>
      <th>Division 2</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= Person::TITLE_ORDER[person.title] %></td>
        <td><%= person.shortrank %></td>
        <td><%= person.lastname %></td>
        <td><%= link_to person.fullname, person %></td>
        <td><%= person.icsid %></td>
        <td><%= person.start_date %></td>
        <td title=<%= person.start_date %> >
          <%= distance_of_time_in_words(((person.end_date) || Date.today), person.start_date) if person.start_date %>
        </td>
        <td><%= number_to_phone(person.phone) %></td>
        <td><%= person.email %></td>
        <td><%= person.dept_shortname %></td>
        <td><%= person.division1 %></td>
        <td><%= person.division2 %></td>
        <td><%= table_button_link 'Edit', edit_person_path(person) if can? :update, person %></td>
      </tr>
    <% end %>
  </tbody>
</table>
