<% content_for :sidebar do %>
  <h1>New Person</h1>
  <%= sidebar_button_link 'Cancel', :back %><br/>
<% end %>

<%= render 'form' %>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>