<% content_for :sidebar do %>
  <center><h1>Listing Others Active</h1></br>
  <%= link_to 'New Person', new_person_path, :class => 'btn' unless cannot? :create, Person %></center>
<% end %>

<table id="people" class="generic_datatable datatable display table table-striped table-bordered" >
  <thead>
    <tr>
      <th>Badge</th>
      <th>Title</th>
      <th>Name</th>
      <th>Department</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
	<td><%= person.icsid %></td>
	<td><%= person.shortrank %></td>
	<td><%= link_to person.fullname, person %></td>
	<td><%= person.department %></td>
  <td><%= person.start_date %></td>
	<td><%= person.end_date %></td>
	<td><%= link_to 'Edit', edit_person_path(person), :class => "btn btn-primary btn-mini" if can? :update, person %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
