<% content_for :sidebar do %>
  <center><h3>Listing Police</h3></br>
  <%= link_to 'New Person', new_person_path, :class => 'btn' unless cannot? :create, Person %></center>
<% end %>

<table id="police" class="generic_datatable datatable display table table-striped table-bordered" >
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Badge</th>
      <th>Duration</th>
      <th>Division</th>
      <th>Squad</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
	<td><%= person.shortrank %></td>
	<td><%= link_to person.fullname, person %></td>
	<td><%= person.icsid %></td>
  <td><%= distance_of_time_in_words(((person.end_date) || Date.today), person.start_date) if person.start_date %></td>
	<td><%= person.division1 %></td>
	<td><%= person.division2 %></td>
	<td><%= link_to 'Edit', edit_person_path(person), :class => "btn btn-primary btn-mini" if can? :update, person %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

