<!-- renders table data and then actual dataTable()  -->
<%= render 'people/table_data/prospects_people', events: @people %>
<%= render 'shared/data_table_template', table_title: @page_title, table_id: "prospects", table_class: "datatable" %>

<!-- <table id="prospects" class="datatable table table-striped table-bordered" >
  <caption><h3><%= @page_title %></h3></caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.fullname, person %></td>
        <td><%= person.department&.name %></td>
        <td><%= table_button_link 'Edit', edit_person_path(person) if can? :update, person %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
