<p id="notice"><%= notice %></p>

<p>
  <%= @person.fullname %> (<%= @person.icsid %>)
</p>
<p><%= @person.age %></br></p>
<p>
DOB <%= @person.date_of_birth %>
</p>
<p>
Start Date <%= @person.start_date %>
</p>
<p>
  <b>Status:</b>
  <span class="badge badge-success"><%= @person.status %></span>
</p>


<table class="table table-striped">
  <thead>
    <tr>
	<th>Certification</th>
    </tr>
  </thead>
  <tbody>
    <%= render @person.certs %>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
	<th>Skills</th>
    </tr>
  </thead>
  <tbody>
    <%= render @person.skills %>
  </tbody>
</table>

<% @person.titles.each do |title| %>
  <% if @person.qualified?(title.title) then %>
    <span class="badge badge-success">
      Person qualified for <%= title.title %>
    </span></br>
  <% else %>
    <table class="table table-striped">
      <thead>
	<tr>
	    <th>Skills Missing for Police</th>
	</tr>
      </thead>
      <tbody>
	<%= render (Title.find(1).skills - @person.skills) %>
      </tbody>
    </table>
  <% end %>
<% end %>
    <span class="badge badge-warning">
      Person qualified for something, but some certification is expiring soon
    </span></br>
    <span class="badge badge-important">
      Person NOT qualified for something
    </span>

<% content_for :sidebar do %>
<%= link_to 'Edit Person', edit_person_path(@person), :class => 'btn btn-mini btn-primary' %></br></br>
<%= link_to 'New Cert', new_person_cert_path(@person), :class => 'btn btn-mini' %>

<% end %>
