<% content_for :sidebar do %>
  <%= link_to 'Return to Listing', people_path, :class => 'btn' %></br></br>
  <%= link_to 'Edit Person', edit_person_path(@person), :class => 'btn btn-primary' unless cannot? :edit, @person  %></br></br>
  <%= link_to 'New Cert', new_person_cert_path(@person), :class => 'btn' unless cannot? :create, Cert  %>
<% end %>

<p><h2><%= @person.shortrank %> <%= @person.fullname %> (<%= @person.icsid %>)</h2></p>

<p>Date of Birth <%= @person.date_of_birth %> (<%= @person.age %>)</p>
<p>Start Date <%= @person.start_date %> (<%= distance_of_time_in_words(((@person.end_date) || Date.today), @person.start_date) if @person.start_date %>)</p>
<p>
  <b>Status:</b>
  <span class="badge <%= 'badge-success' if @person.status == 'Active' %>">
    <%= @person.status %>
  </span>
</p>

<div class="channels">
  <ul>
    <% @person.channels.each do |channel| %>
      <li><%= "#{channel.name} is #{channel.content} on #{channel.carrier}"  %></li>
    <% end %>
  </ul>
</div>

<div class="accordion">
  <% @person.titles.each do |title| %>
    <% if @person.qualified?(title.name) then %>
      <h3>
	Qualified for <%= title.name %>
      </h3>
      <div>No missing certifications</div>
    <% else %>
      <h3>
	NOT qualified for <%= title.name %>
      </h3>
      <div>
      Skills Missing:
	<ul>
	  <%= render(@person.missing_skills(title)) %>
	</ul>
      </div>
    <% end %>
  <% end %>
</div>


</br></br>
<div class="accordion">
  <h3>Skills</h3>
  <div>
    <ul>
      <%= render(@person.skills.uniq) || raw("No skills yet !") %>
    </ul>
  </div>


  <h3>Courses </h3>
  <div>
    New Course
    <ul>
      <%= render(@person.courses.uniq) || raw("No courses yet !") %>
    </ul>
  </div>
  
  <h3>Certifications</h3>
  <div>
    <ul>
      <%= render(@person.certs) || raw("No certifications yet !") %>
    </ul>
    <%= link_to 'New Cert', new_person_cert_path(@person), :class => 'btn' unless cannot? :create, Cert  %>
  </div>
  
  <h3>Items</h3>
  <div>
    <ul>
      <%= render(@person.items) || raw("No Items Found !") %>
    </ul>
    <%= link_to 'New Item', new_person_item_path(@person), :class => 'btn' unless cannot? :create, Item  %>
 </div>
</div>

<% content_for :parking do %>
    <table class="table table-striped">
      <thead>
	<tr>
	    <th>Skills Missing for Police</th>
	</tr>
      </thead>
      <tbody>
	<%#= render (Title.find(1).skills - @person.skills) %>
      </tbody>
    </table>
    <span class="badge badge-important">This comes out red
    <span class="badge badge-warning">
      Person qualified, but some certification is expiring soon
    </span></br>
<% end %>
