<p id="notice"><%= notice %></p>

<p>
  <%= @person.fullname %> (<%= @person.icsid %>)
</p>
<p>
  <%= @person.age %>
</p>

<p>
  <b>Status:</b>
  <%= @person.status %>
</p>

<%= render @person.certs %>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
