<p id="notice"><%= notice %></p>

<p>
  <%= @person.fullname %> (<%= @person.icsid %>)
</p>
<p><%= @person.age %></br></p>
<p>
DOB <%= @person.date_of_birth %>
</p>
<p>
Start Date <%= @person.start_date %>
</p>
<p>
  <b>Status:</b>
  <%= @person.status %>
</p>


<%= render @person.certs %>

<% content_for :sidebar do %>
<%= link_to 'Edit', edit_person_path(@person), :class => 'btn btn-mini' %></br>
<%= link_to 'New Cert', new_cert_path(@person), :class => 'btn btn-mini' %>

<% end %>
