<%= simple_form_for(@timecard) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :person, :collection => Person.order(:firstname).active %>
    <%= f.input :status, :as => :select, :collection => Timecard::STATUS_CHOICES %>
    <%= f.input :description %>

    <fieldset>
      <legend>Times</legend>
      <%= f.input :start_time, as: :string,
                  input_html: { class: "datetimepicker", size: 11,
                                value: format_datetime_value(f.object.start_time) } %>
      <%= f.input :end_time, as: :string,
                  input_html: { class: "datetimepicker", size: 11,
                                value: format_datetime_value(f.object.end_time) } %>
    </fieldset>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>