<tr>
  <td><%= link_to timecard.status, timecard_path(timecard), id: "js-timecard-status-id-#{timecard.id}" %></td>
  <td><%= timecard.start_time.strftime('%a %b %d %Y %k:%M') if timecard.start_time %></td>
  <td><%= timecard.end_time.strftime('%a %b %d %Y %k:%M') if timecard.end_time%></td>
  <td><%= timecard.duration %></td>
  <td><%= truncate(timecard.description, length: 24) %></td>
  <td>
    <% if (can? :verify, timecard) && timecard.status == 'Unverified' %>
      <%= button_to 'Verify',
        timecard_verify_path(timecard),
        form_class: 'timecard-verify',
        params: { id: timecard.id },
        id: "js-timecard-verify-btn-id-#{timecard.id}",
        class: 'js-timecard-verify-btn btn btn-xs btn-success'
      %>
    <% end %>
    <%= table_button_link 'Edit', edit_timecard_path(timecard) if can? :edit, timecard %>
  </td>
</tr>
