<table id="timecards" class="datatable table table-striped table-bordered">
    <caption><h3>Listing Timecards</h3></caption>
    <thead>
        <tr>
            <th colspan="3"></th>
            <th colspan="3"><center>Intended</center></th>
            <th colspan="3"><center>Actual</center></th>
            <th colspan="2"></th>
        </tr>
      <tr>
        <th>Person</th>
        <th>Event</th>
        <th>Category</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% @timecards.each do |timecard| %>
            <tr>
                <td><%= link_to timecard.person.fullname, person_path(timecard.person) %></td>
                <td><%= link_to timecard.event.title, timecard.event %></td>
                <td><%= timecard.category %></td>
                <td><%= timecard.intended_start_time.to_s(:short) if timecard.intended_start_time %></td>
                <td><%= timecard.intended_end_time.to_s(:short) if timecard.intended_end_time%></td>
                <td><%= timecard.intended_duration %></td>
                <td><%= timecard.actual_start_time.to_s(:short) if timecard.actual_start_time %></td>
                <td><%= timecard.actual_end_time.to_s(:short)  if timecard.actual_end_time %></td>
                <td><%= timecard.actual_duration %></td>
                <td><%= table_button_link 'Edit', edit_timecard_path(timecard) if can? :edit, timecard %></td>
                <td><%= table_button_link 'Worked', edit_timecard_path(timecard), title: "Use times and values from the event" if can? :edit, timecard %></td>
            </tr>
        <% end %>
    </tbody>
</table>
