<%# present @timecard do |timecard_presenter| %>
<% content_for :sidebar do %>
  <%= sidebar_button_link 'Return to Timecards', timecards_path %>
  <%= sidebar_button_link 'Edit Timecard', edit_timecard_path(@timecard) if can? :edit, @timecard %>
<% end %>

<p>
  <b>Person:</b>
  <%= link_to @timecard.person.fullname, @timecard.person %>
</p>

<p>
  <b>Event:</b>
  <%= link_to @timecard.event.title, @timecard.event %>
</p>

<p>
  <b>Category:</b>
  <%= @timecard.category %>
</p>

<p>
  <b>Intention:</b>
  <%= @timecard.intention %>
</p>

<p>
  <b>Intended Start</b>
  <%= @timecard.intended_start_time.strftime("%B %e, %Y %H:%M") if @timecard.intended_start_time %>
</p>

<p>
  <b>Intended End</b>
  <%= l @timecard.intended_end_time, :format => :long if @timecard.intended_end_time %>
</p>

<p>
  <b>Intended Duration:</b>
  <%= @timecard.intended_duration %>
</p>

<p>
  <b>Actual Outcome</b>
  <%= @timecard.outcome %>
</p>

<p>
  <b>Actual Start</b>
  <%= @timecard.actual_start_time %>
</p>

<p>
  <b>Actual End</b>
  <%= @timecard.actual_end_time %>
</p>

<p>
  <b>Actual Duration:</b>
  <%= @timecard.actual_duration %>
</p>

<%# end # This closes the presenter %>
