<%# present @timecard do |timecard_presenter| %>
<% content_for :sidebar do %>
  <%= sidebar_button_link 'Return to Timecards', timecards_path %>
  <%= sidebar_button_link 'Edit Timecard', edit_timecard_path(@timecard) if can? :edit, @timecard %>
<% end %>

<p>
  <b>Person:</b><%= link_to @timecard.person.fullname, @timecard.person %>
</p>

<p>
  <b>Status:</b><span id='<%= "js-timecard-status-id-#{@timecard.id}" %>'><%= @timecard.status %></span>
</p>

<p>
  <b>Start</b>
  <%= @timecard.start_time.strftime("%B %e, %Y %H:%M") if @timecard.start_time %>
</p>

<p>
  <b>End</b>
  <%= l @timecard.end_time, :format => :long if @timecard.end_time %>
</p>

<p>
  <b>Duration:</b>  <%= @timecard.duration %>
</p>
<% if (can? :verify, @timecard) && @timecard.status == "Unverified" %>
  <%= button_to 'Verify',
    timecard_verify_path(@timecard),
    form_class: 'timecard-verify',
    params: { id: @timecard.id },
    id: "js-timecard-verify-btn-id-#{@timecard.id}",
    class: 'js-timecard-verify-btn btn btn-xs btn-success'
  %>
<% end %>

<!-- renders table data and then actual dataTable()  -->
<%= render 'timecards/table_data/show_events', events: @timecard.concurrent_events %>
<%= render 'shared/data_table_template', table_title: 'Concurrent Events' %>

<p>
  Created <%= @timecard.created_at %><br/>
  Last Modified <%= @timecard.updated_at %><br/>
  Last Editor <%= @last_editor %>
</p>
