<%# present @timecard do |timecard_presenter| %>
<% content_for :sidebar do %>
  <%= sidebar_button_link 'Return to Timecards', timecards_path %>
  <%= sidebar_button_link 'Edit Timecard', edit_timecard_path(@timecard) if can? :edit, @timecard %>
<% end %>

<p>
  <b>Person:</b>
  <%= link_to @timecard.person.fullname, @timecard.person %>
</p>

<p>
  <b>Category:</b>
  <%= @timecard.category %>
</p>

<p>
  <b>Status:</b>
  <%= @timecard.status %>
</p>

<p>
  <b>Start</b>
  <%= @timecard.start_time.strftime("%B %e, %Y %H:%M") if @timecard.start_time %>
</p>

<p>
  <b>End</b>
  <%= l @timecard.end_time, :format => :long if @timecard.end_time %>
</p>

<p>
  <b>Duration:</b>
  <%= @timecard.duration %>
</p>
