<% content_for :sidebar do %>
  <h2>New Task</h2>
  <h3>(for <%= @task.event.title %>)</h3>
  <%= sidebar_button_link 'Return to Tasks List', tasks_path %>
<% end %>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to 'Events', events_path %></li>
  <li class="breadcrumb-item"><%= link_to @event.title, event_path(@event) %></li>
  <li class="breadcrumb-item active">New Task</li>
</ol>

<%= render 'form' %>
