<%= simple_form_for(@item_type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :item_category %>
    <%= f.input :name %>
    <%= f.input :status, :as => :select, :collection => ["Active", "Inactive"] %>
    <%#= f.input :is_groupable, as: :boolean %>
    <%#= f.input :is_a_group, as: :boolean %>
    <%#= f.input :parent_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
