<% content_for :sidebar do %>
  <%= sidebar_button_link 'Return to Categories', item_categories_path %>
  <%= sidebar_button_link 'Edit',
           edit_item_type_path(@item_type) if can? :edit, @item_type %>
  <%= sidebar_button_link 'New Item',
           new_item_type_item_path(@item_type) if can? :create, Item %>
<% end %>

<h3><%= link_to @item_type.item_category,
                item_category_path(@item_type.item_category) %> >
<%= @item_type.name %></h3>

<p><%= @item_type.description %></p>

<b>Status:</b><%= success_or_warning_label(@item_type.status, 'Active') %>

<%= render(partial: 'items/items_table',
           locals: { items: @item_type.items}) %>
<%= image_tag @item_type.item_type_image.url if @item_type.item_type_image.present? %>

<p>
 Created <%= @item_type.created_at %><br/>
 Last Modified <%= @item_type.updated_at %><br/>
 Last Editor <%= @last_editor %>
</p>
