<% content_for :sidebar do %>
  <h3> Edit Requirement </h3>
  <%= sidebar_button_link 'Cancel Edit', :back %>
<% end %>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to 'Events', events_path %></li>
  <li class="breadcrumb-item"><%= link_to @requirement.task.event, event_path(@requirement.task.event) %></li>
  <li class="breadcrumb-item"><%= link_to @requirement.task, task_path(@requirement.task) %></li>
  <li class="breadcrumb-item active">Edit Requirement: <%= @requirement.title.presence || @requirement.skill.presence || 'requirement' %></li>
</ol>

<%= render 'form' %>
