<% content_for :sidebar do %>
  <%= sidebar_button_link 'Cancel Edit', :back %>
<% end %>

<span class="h3">
  Event: <%= link_to @requirement.task.event,
              event_path(@requirement.task.event) %>
</span></br>
<span class="h3">Task: <%= link_to @requirement.task, task_path(@requirement.task) %></span></br>
<span class="h3"> Edit Requirement </span></br></br>
<%= render 'form' %>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>