<tr>
  <td>
    <%= link_to cert.course.name, cert %> - <%= cert.expiration_date.to_s %>
    <%= 'EXPIRED' if cert.expired? %>
    <%= 'Expiring' if cert.expiring? %>
  </td>
</tr><p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>