<%= simple_form_for @cert, :class => "well form-horizontal", :html => {:multipart => true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :person %>
    <%= f.association :course %>
    <%= f.input :status, :as => :select, :collection => ['Active', 'Inactive'] %>
    <%= f.input :level, :hint => 'eg. EMT-Basic', :input_html => { :size => 22 } %>
    <%= f.input :cert_number, :label => 'Certification Number',:hint => "eg. Driver's License S number", :input_html => { :size => 22 } %>
    <%= f.input :issued_date, as: :string, label: 'Issued Date',
                input_html: { class: "datepicker", size: 11,
                              value: format_date_value(f.object.issued_date) } %>
    <%= f.input :expiration_date, as: :string,
                hint: 'Leave blank to set expiration date from course default',
                input_html: { class:"datepicker", size: 11,
                              value: format_date_value(f.object.expiration_date) } %>
    <%= f.input :certification, :as => :file, :hint => 'Upload a scanned image of the documentation' %>
    <%= f.input :comments %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :label => 'Create Certification' %>
  </div>
<% end %>
