<h1>Listing helpdocs</h1>

<table id="helpdocs" class="generic_datatable table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Contents</th>
      <th>Help for view</th>
      <th>Help for section</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @helpdocs.each do |helpdoc| %>
      <tr>
        <td><%= helpdoc.title %></td>
        <td><%= helpdoc.contents %></td>
        <td><%= helpdoc.help_for_view %></td>
        <td><%= helpdoc.help_for_section %></td>
        <td><%= table_button_link 'Show', helpdoc %></td>
        <td><%= table_button_link 'Edit', edit_helpdoc_path(helpdoc) %></td>
        <td><%= table_button_link 'Destroy', helpdoc, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= independent_button_link 'New Helpdoc', new_helpdoc_path %>
