<h1>Listing helpdocs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Contents</th>
    <th>Help for view</th>
    <th>Help for section</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @helpdocs.each do |helpdoc| %>
  <tr>
    <td><%= helpdoc.title %></td>
    <td><%= helpdoc.contents %></td>
    <td><%= helpdoc.help_for_view %></td>
    <td><%= helpdoc.help_for_section %></td>
    <td><%= link_to 'Show', helpdoc %></td>
    <td><%= link_to 'Edit', edit_helpdoc_path(helpdoc) %></td>
    <td><%= link_to 'Destroy', helpdoc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Helpdoc', new_helpdoc_path %>
