<% content_for :sidebar do %>
  <%= sidebar_button_link 'Edit', edit_helpdoc_path(@helpdoc) %>
  <%= sidebar_button_link 'Back', helpdocs_path %>
<% end %>

<p>
  <b>Title:</b>
  <%= @helpdoc.title %>
</p>

<p>
  <b>Contents:</b>
  <%= @helpdoc.contents %>
</p>

<p>
  <b>Help for view:</b>
  <%= @helpdoc.help_for_view %>
</p>

<p>
  <b>Help for section:</b>
  <%= @helpdoc.help_for_section %>
</p>
