<%= simple_form_for(@notification) do |f| %>
  <h3><%= "#{@event.title} [#{@event.id_code}] "  %></h3>
  <h4>(<%= format_time_span(@event.start_time, @event.end_time, @event.duration) %>)</h4>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :event,
                      collection: Event.upcoming + [@event],
                      include_blank: false %>
    <%= f.input :subject, :hint => "Used for text messages" %>
    <%#= f.input :body, :hint => "Not used for text messages" %>
    <%= f.input :purpose, as: :select, collection: @purpose_choices,
                          include_blank: false %>
    <%= f.association :departments, as: :check_boxes,
                                    collection: @dept_choices,
                                    include_blank: false %>
    <%= f.input :status, as: :select, collection: @statuses,
                         include_blank: false %>
    <%#= f.input :time_to_live, hint: 'Length to keep trying to notify non-responders, in hours' %>
    <%#= f.input :interval, hint: 'Frequency to send duplicate messags, in minutes' %>
    <%#= f.input :iterations_to_escalation, hint: 'Number of texts before voice calls'%>
    <%#= f.input :scheduled_start_time %>
    <%= f.input :channels, :as => :select,
                           :collection => Channel::CHANNEL_TYPES,
                           :include_blank => false %>
    <%#= f.input :departments %>
    <%#= f.input :divisions %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
