<%= simple_form_for(@notification) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :event %>
    <%= f.input :status, as: :select, collection: Notification::VALID_STATUSES %>
    <%= f.input :time_to_live %>
    <%= f.input :interval %>
    <%= f.input :iterations_to_escalation %>
    <%= f.input :scheduled_start_time %>
    <%= f.input :start_time %>
    <%= f.input :channels %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
