<%= simple_form_for(@notification) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :event %>
    <%= f.input :status %>
    <%= f.input :subject %>
    <%= f.input :body %>
    <%= f.input :hours_to_try %>
    <%= f.input :minutes_interval %>
    <%= f.input :attempts_before_escalation %>
    <%= f.input :start_at %>
    <%= f.input :started_at %>
    <%= f.input :channels %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
