<% content_for :sidebar do %>
  <h1>New Notification</h1>
  <%= sidebar_button_link 'New', new_notification_path %>
<% end %>

<table id="notifications" class="generic_datatable table table-striped table-bordered">
  <caption><h3><%= @page_title %></h3></caption>
  <thead>
    <tr>
      <th>Status</th>
      <th>Event</th>
      <th>Start at</th>
      <th>Channels</th>
      <th colspan="1"></th>
    </tr>
  </thead>
I need to allow info only Notifications
  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.status %></td>
        <td><%= notification.event ? (link_to notification.event.title, notification.event) : 'None' %></td>
        <td><%= notification.scheduled_start_time %></td>
        <td><%= notification.channels %></td>
        <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
