<% content_for :sidebar do %>
  <h2>New Notification</h2>
  <%= sidebar_button_link 'Cancel', event_path(@event) %>
<% end %>

<%= render 'form' %>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>