<p id="notice"><%= notice %></p>

<p>

  <strong>Event:</strong>
  <%= @event_title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @notification.status %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @notification.start_at %>
</p>

<p>
  <strong>Channels:</strong>
  <%= @notification.channels %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
