<% content_for :sidebar do %>
  <h1>Showing Notification</h1>
  <%= sidebar_button_link 'Edit', edit_notification_path(@notification) %>
  <%= sidebar_button_link 'Cancel', notifications_path %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.subject') %></strong>
  <%= @notification.subject %>
</p>

<p>
  <strong><%= t('.body') %></strong>
  <%= @notification.body %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event_title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @notification.status %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @notification.scheduled_start_time %>
</p>

<p>
  <strong>Time to Live:</strong>
  <%= @notification.time_to_live %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @notification.interval %>
</p>

<p>
  <strong>Iterations to Escalation:</strong>
  <%= @notification.iterations_to_escalation %>
</p>

<p>
  <strong>Channels:</strong>
  <% @notification.channels.split(' ').each do |channel| %>
    <span><%= t(".channels.#{channel}") %></span>
  <% end %>
</p>

<p>
  <strong>Groups:</strong>
  <%= @notification.groups %>
</p>

<p>
  <strong>Departments:</strong>
  <%= @notification.departments %>
</p>

<p>
  <strong>Divisions:</strong>
  <%= @notification.divisions %>
</p>
