<% content_for :sidebar do %>
  <%= sidebar_button_link 'List', notifications_path %>
  <%= sidebar_button_link 'Edit', edit_notification_path(@notification) %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @notification.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @notification.body %>
</p>

<p>
  <strong>Event:</strong>
  <%= link_to @event.title, event_path(@event) if @event %>
</p>

<p>
  <strong>Status:</strong>
  <%= @notification.status %>
</p>

<p>
  <strong><%# Start at: %></strong>
  <%#= @notification.start_time %>
</p>

<p>
  <strong><%# Time to Live: %></strong>
  <%#= @notification.time_to_live %>
</p>

<p>
  <strong><%#Interval: %></strong>
  <%#= @notification.interval %>
</p>

<p>
  <strong><%# Iterations to Escalation: %></strong>
  <%#= @notification.iterations_to_escalation %>
</p>

<p>
  <strong>Departments:</strong></br>
  <% @notification.departments.each do |dept| %>
     <%= dept.name %></br>
  <% end %>
</p>
<p>
  <strong>Channels:</strong>
  <%= @notification.channels %>
</p>
<!-- guesssing you want this here but it can be below the render as well -->
<p>
  Created <%= @notification.created_at %><br/>
  Last Modified <%= @notification.updated_at %><br/>
  Last Editor <%= @last_editor %>
</p>

<%= render(partial: 'recipients/recipients_table',
           locals: { recipients: @notification.recipients}) %>
