<%= simple_form_for @user do |f| %>
    
    <%= f.input :firstname, :label => 'First Name' %>
    <%= f.input :lastname, :label => 'Last Name'  %>
    <%= f.input :username %>
    <%= f.input :email %>

    <%= f.association :roles %>

    <%= f.button :submit %>
  
<% end %>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>