<% content_for :sidebar do %>
  <%= sidebar_button_link 'Return to Listing', users_path %>
  <%= sidebar_button_link 'Edit User', edit_user_path(@user) unless cannot? :edit, @user  %>
<% end %>

<h2><%= @user.firstname %> <%= @user.lastname %></h2>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>