<%= simple_form_for(@skill) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :status, :as => :select, :collection => ['Active', 'Inactive'] %>
    <%= f.association :courses %>
    <%= f.association :titles %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>