<% content_for :sidebar do %>
  <%= sidebar_button_link 'New Skill', new_skill_path if can? :create, Title %>
<% end %>

<table id="skills" class="datatable table table-striped table-bordered">
  <caption><h3><%= @page_title %></h3></caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= link_to skill.name, skill %></td>
        <td><%= link_to skill.status, skill %></td>
        <td><%= table_button_link 'Edit', edit_skill_path(skill) if can? :edit, skill %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>