<% content_for :sidebar do %>
  <center><h1>Listing skills</h1></br>
  <%= link_to 'New Skill', new_skill_path, :class => 'btn' %></center>
<% end %>



<table>
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th>Required for pd</th>
    <th>Required for cert</th>
    <th>Required for sar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @skills.each do |skill| %>
  <tr>
    <td><%= skill.title %></td>
    <td><%= skill.status %></td>
    <td><%= skill.required_for_pd %></td>
    <td><%= skill.required_for_cert %></td>
    <td><%= skill.required_for_sar %></td>
    <td><%= link_to 'Show', skill %></td>
    <td><%= link_to 'Edit', edit_skill_path(skill), :class => 'btn btn-mini btn-primary' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Skill', new_skill_path %>
