<% content_for :sidebar do %>
  <h2>Skill<br/><%= @skill.name %></h2>
  <%= sidebar_button_link 'Edit', edit_skill_path(@skill) %>
  <%#= sidebar_button_link 'Destroy', @skill, method: :delete %>
  <%= sidebar_button_link 'Skills Listing', skills_path %>
<% end %>

<p>
  <b>Status:</b>
  <%= @skill.status %>
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Courses That Satisfy This Skill</th>
    </tr>
  </thead>
  <tbody>
    <%= render @skill.courses %>
  </tbody>
</table>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Titles That Require This Skill</th>
    </tr>
  </thead>
  <tbody>
    <%= render @skill.titles %>
  </tbody>
</table>
