<p id="notice"><%= notice %></p>
<% content_for :sidebar do %>

<p><h2><%= @skill.title %></h2></p>

<%= link_to 'Edit', edit_skill_path(@skill), :class => 'btn btn-mini btn-primary' %> |
<%= link_to 'Destroy', @skill, method: :delete, :class => 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></br></br>
<%= link_to 'Skills Listing', skills_path, :class => 'btn btn-mini' %>
<% end %>
<p>
  <b>Status:</b>
  <%= @skill.status %>
</p>

<p>
  <b>Required for pd:</b>
  <%= @skill.required_for_pd %>
</p>

<p>
  <b>Required for cert:</b>
  <%= @skill.required_for_cert %>
</p>

<p>
  <b>Required for sar:</b>
  <%= @skill.required_for_sar %>
</p>

<%= render @skill.courses %>