<table id="<%= table_id ||= nil %>" class="<%= table_class ||= 'generic_datatable' %> table table-striped table-bordered" >
  <caption>
    <h3 class="data-table-title"><%= table_title %></h3>
  </caption>
  <thead>
    <tr>
      <%= yield :table_headers %>
    </tr>
  </thead>
  <tbody>
    <%= yield :table_data %>
  </tbody>
</table>
