<div class="data-table-departments">
  <h5>Departments:</h5>
  <%= collection_check_boxes(:department, :id, @available_departments, :shortname, :shortname) do |b| %>
    <%= b.label("data-value": b.value ) { b.check_box(checked: true, class: 'department-filter') + b.text } %>
  <% end %>
</div>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>