<h1>Listing departments</h1>

<table id="departments" class="generic_datatable table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Contact</th>
      <th>Description</th>
      <th>Manage People</th>
      <th>Manage Items</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= department.status %></td>
        <td><%= department.contact_id %></td>
        <td><%= department.description %></td>
        <td><%= department.manage_people %></td>
        <td><%= department.manage_items %></td>
        <td><%= table_button_link 'Show', department %></td>
        <td><%= table_button_link 'Edit', edit_department_path(department) %></td>
        <td><%= table_button_link 'Destroy', department, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= independent_button_link 'New Department', new_department_path %>
