<h2>Department Roster: <%= @department.name %> (<%= Date::today().to_s %>)</h2>
<ul class="senior_staff">
  <% @people.divisionC.each do |p| %>
    <%= render :partial => 'people/coc_boxes', :locals => { :p => p} %>
  <% end %>
</ul>

<div class="divisions">
<ul class="division" id="division1" >
  <li class="division_heading">Division 1</li>
  <% @people.division1.squadC.each do |p| %>
    <%= render :partial => 'people/coc_boxes', :locals => { :p => p} %>
  <% end %>
  <li class="squads">
    <ul class="squad1">
      <li class="squad_heading">Squad 1</li>
      <% @people.division1.squad1.each do |p| %>
        <%= render :partial => 'people/coc_boxes', :locals => { :p => p} %>
      <% end %>
    </ul>

    <ul class="squad2">
      <li class="squad_heading">Squad 2</li>
      <% @people.division1.squad2.each do |p| %>
        <%= render :partial => 'people/coc_boxes', :locals => { :p => p} %>
      <% end %>
    </ul>
  </li>
</ul>

<ul class="division" id="division2" >
  <li class="division_heading">Division 2</li>
  <% @people.division2.squadC.each do |p| %>
    <%= render :partial => 'people/coc_boxes', :locals => { :p => p} %>
  <% end %>
  <li class="squads">
    <ul class="squad1">
      <li class="squad_heading">Squad 1</li>
      <% @people.division2.squad1.each do |p| %>
        <%= render :partial => 'people/coc_boxes', :locals => { :p => p} %>
      <% end %>
    </ul>

    <ul class="squad2">
      <li class="squad_heading">Squad 2</li>
      <% @people.division2.squad2.each do |p| %>
        <%= render :partial => 'people/coc_boxes', :locals => { :p => p} %>
      <% end %>
    </ul>
  </li>
</ul>
<span id="thedate" > <%#= Date::today().to_s %></span>
</div>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>