<% content_for :sidebar do %>
  <%= sidebar_button_link 'Edit', edit_department_path(@department) %>
  <%= sidebar_button_link 'Back', departments_path %>
<% end %>

<p>
  <b>Name:</b>
  <%= @department.name %>
</p>

<p>
  <b>Status:</b>
  <%= @department.status %>
</p>

<p>
  <b>Contact:</b>
  <%= @department.contact_id %>
</p>

<p>
  <b>Description:</b>
  <%= @department.description %>
</p>
