<% content_for :sidebar do %>
  <%= sidebar_button_link 'Edit',
                 edit_department_path(@department) if can? :edit, @department %>
  <%= sidebar_button_link 'Back', departments_path %>
<% end %>

<h3>
  [<%= @department.shortname %>] <%= @department.name %>
</h3>

<p>
  <b>Status:</b> <%= success_or_warning_label(@department.status, 'Active') %>
</p>

<p>
  <b>Contact:</b>
  <%= @department.contact_id %>
</p>

<p>
  <b>Description:</b>
  <%= @department.description %>
</p>

<p>
  <b>Division 1:</b>
  <%= @department.formatted_division1 %>
</p>

<p>
  <b>Devision 2:</b>
  <%= @department.formatted_division2 %>
</p>

<p>
  <b>Manage People:</b>
  <%= @department.manage_people %>
</p>

<p>
  <b>Manage Items:</b>
  <%= @department.manage_items %>
</p>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>