<% content_for :sidebar do %>
  <%= sidebar_button_link 'Edit',
                 edit_department_path(@department) if can? :edit, @department %>
  <%= sidebar_button_link 'Back', departments_path %>
<% end %>

<p>
  <b>Name:</b>
  <%= @department.name %>
</p>

<p>
  <b>Status:</b>
  <%= @department.status %>
</p>

<p>
  <b>Contact:</b>
  <%= @department.contact_id %>
</p>

<p>
  <b>Description:</b>
  <%= @department.description %>
</p>

<p>
  <b>Division 1:</b>
  <%= @department.formatted_division1 %>
</p>

<p>
  <b>Devision 2:</b>
  <%= @department.formatted_division2 %>
</p>

<p>
  <b>Manage People:</b>
  <%= @department.manage_people %>
</p>

<p>
  <b>Manage Items:</b>
  <%= @department.manage_items %>
</p>
