<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :status, :as => :select, :collection => Event::STATUS_CHOICES  %>
    <%= f.input :category, :as => :select, :collection => Event::CATEGORY_CHOICES %>
    <div class="training-controls">
      <%= f.association :course, :hint => "If the training is not for certification, do not choose a course" %>
      <%= f.input :instructor %>
    </div>
    <%= f.input :location %>
    <%= f.input :start_time, :as => :string, :input_html => {:class => "datetimepicker",  :size => 11 }  %>
    <%= f.input :end_time, :as => :string, :input_html => {:class => "datetimepicker", :size => 11 }  %>
    <%= f.association :people, :as => :check_boxes %>
    <%= f.input :comments %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
