  <div class="accordion">
    <h3>Unknown (<%= @event.unknown_people.count %>) </h3>
    <div>
      <table id="unknown" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Division</th>
            <th>Squad</th>
            <th colspan=4></th>
          </tr>
        </thead>
        <tbody>
          <% @event.unknown_people.each do |person| %>
            <tr>
              <td><%= link_to person.fullname, person %></td>
              <td><%= person.phones.map { |e| number_to_phone(e.content, area_code: true) }.join(',') %></td>
              <td><%= person.division1 %></td>
              <td><%= person.division2 %></td>
              <% if can? :create, Timecard and @event.status.in? ["Scheduled", "In-session"] %>
                <td>
                  <%= link_to "Unavailable", schedule_path(@event, person.id, "Unavailable"), method: :Post, :class => 'btn btn-mini' %>
                </td>
                <td>
                  <%= link_to "Available", schedule_path(@event, person.id, "Available"), method: :Post, :class => 'btn btn-mini' %>
                </td>
                <td>
                  <%= link_to "Scheduled", schedule_path(@event, person.id, "Scheduled"), method: :Post, :class => 'btn btn-mini' %>
                </td>
              <% else %>
                <td></td><td></td><td></td>
              <% end %>
              <% if can? :create, Timecard and @event.status.in? ["In-session", "Completed"] %>
                <td><%= link_to "Worked", schedule_path(@event, person.id, "Worked"), method: :Post, :class => 'btn btn-mini' %></td>
              <% else %>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
