<h3>Unknown (<%= @unknown.count %>) </h3>
<table id="unknown" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Division</th>
      <th>Squad</th>
      <th colspan=4></th>
    </tr>
  </thead>
  <tbody>
    <% @unknown.each do |person| %>
      <tr>
        <td><%= link_to person.fullname, person %></td>
        <td><%= person.phones.map { |e| number_to_phone(e.content, area_code: true) }.join(',') %></td>
        <td><%= person.division1 %></td>
        <td><%= person.division2 %></td>
        <% if can? :create, Timecard and @event.status.in? ["Scheduled", "In-session"] %>
          <td><%= table_button_link "Unavailable", schedule_path(@event, person.id, "Unavailable"), method: :Post %></td>
          <td><%= table_button_link "Available", schedule_path(@event, person.id, "Available"), method: :Post %></td>
          <td><%= table_button_link "Scheduled", schedule_path(@event, person.id, "Scheduled"), method: :Post %></td>
        <% else %>
          <td></td><td></td><td></td>
        <% end %>
        <% if can? :create, Timecard and @event.status.in? ["In-session", "Completed"] %>
          <td><%= table_button_link "Worked", schedule_path(@event, person.id, "Worked"), method: :Post %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>