<table id="events" class="datatable table table-striped table-bordered" >
  <caption>
    <h3 class="data-table-title"><%= @page_title %></h3>
    <!-- decides whether or not to render create event button  -->
    <% if can? :create, Event %>
      <a role="button" class='js-create-event add-btn btn' href='<%= new_event_path %>'><p>+</p></a>
    <% end %>
    <div>
      <label>Current:<input type="checkbox" id="js-events-current-checkbox" class="event-filter" value="current"></label>
      <label>Recent:(Last 13 Months)<input type="checkbox" id="js-events-recent-checkbox" class="event-filter" value="recent"></label>
    </div>
  </caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Start time</th>
      <th>Start time</th>
      <th>End time</th>
      <th>End time</th>
      <th>Duration</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |e| %>
      <tr class='<%= column_color_class(e) %>'>
        <td><%= link_to e.title, e %></td>
        <td><%= e.location %></td>
        <td><%= e.start_time %></td>
        <td><time>
          <%= e.start_time.strftime('%a, %b %d, %y %k:%M') if e.start_time  %>
        </time></td>
        <td><%= e.end_time %></td>
        <td><time>
          <%= e.end_time.strftime('%a, %b %d, %y %k:%M') if e.end_time  %>
        </time></td>
        <td><%= e.duration %></td>
        <td><%= e.status %></td>
        <td><%= table_button_link 'Edit', edit_event_path(e) unless cannot? :update, e %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>