<% content_for :sidebar do %>
  <%= sidebar_button_link 'New Event', new_event_path if can? :create, Event %>
<% end %>
<table id="events" class="datatable table table-striped table-bordered">
  <caption>
    <h3 id="js-events-page-title"><%= @page_title %></h3>
  </caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Start time</th>
      <th>Start time</th>
      <th>End time</th>
      <th>End time</th>
      <th>Duration</th>
      <th>Status</th>
      <th>Template</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |e| %>
      <tr class='<%= column_color_class(e) %>'>
        <td><%= link_to e.title, e %></td>
        <td><%= e.location %></td>
        <td><%= e.start_time %></td>
        <td><time>
          <%= e.start_time.strftime('%a %m/%d/%Y %I:%M %p') if e.start_time  %>
        </time></td>
        <td><%= e.end_time %></td>
        <td><time>
          <%= e.end_time.strftime('%a %m/%d/%Y %I:%M %p') if e.end_time  %>
        </time></td>
        <td><%= e.duration %></td>
        <td><%= e.status %></td>
        <td><%= e.is_template.to_s.capitalize %></td>
        <td><%= table_button_link 'Edit', edit_event_path(e) unless cannot? :update, e %></td>
      </tr>
    <% end %>
  </tbody>
</table>
