<% content_for :sidebar do %>
  <h3>Listing Events</h3>
  <%= link_to 'New Event', new_event_path, :class => 'btn' if can? :create, Event %>
<% end %>

<table id="events" class="generic_datatable datatable display table table-striped table-bordered">
  <thead>
    <tr>
      <th>Description</th>
      <th>Location</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Duration</th>
      <th>Category</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
	<td><%= link_to event.description, event, :id => "description_link" %></td>
	<td><%= event.location %></td>
	<td><%= event.start_time %></td>
	<td><%= event.end_time %></td>
	<td><%= event.duration %></td>
	<td><%= event.category %></td>
	<td><%= event.status %></td>
	<td><%= link_to 'Edit', edit_event_path(event), :class => "btn btn-primary btn-mini" unless cannot? :update, event %></td>
      </tr>
    <% end %>
  </tbody>
</table>
