<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @event.course_id %>
</p>

<p>
  <b>Instructor:</b>
  <%= @event.instructor %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Start date:</b>
  <%= @event.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @event.end_date %>
</p>

<p>
  <b>Duration:</b>
  <%= @event.duration %>
</p>

<p>
  <b>Category:</b>
  <%= @event.category %>
</p>

<p>
  <b>Status:</b>
  <%= @event.status %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
