<% content_for :sidebar do %>
  <%= sidebar_button_link 'Return to Events', events_path %>
  <%= sidebar_button_link 'Edit Event',
           edit_event_path(@event) if can? :edit, @event %>
  <%= sidebar_button_link 'New Task',
           new_event_task_path(@event) if can? :create, Task %>
  <%= sidebar_button_link 'New Availability',
           new_event_availability_path(@event) if can? :create, Availability %>
  <%= sidebar_button_link "New Notification",
           new_event_notification_path(@event) if can? :create, Notification %>
  <%= sidebar_button_link "New Timecard",
           new_timecard_path(event: @event) if can? :create, Timecard %>
<% end %>

<p>
  <span class="h3">
    <% if @event.category.present? %>
      <b><%= @event.category %>:</b>
    <% end %>
    <%= @event.title %>
  </span>
  <% if @event.location.present? %>
    at <%= @event.location %>
  <% end %>
  (<%= format_time_span(@event.start_time, @event.end_time, @event.duration) %>)
</p>
<% if @event.description.present? %>
  <p><b>Description:</b> <%= @event.description %></p>
<% end %>
<p><b>Code:</b> <%= @event.id_code %></p>
<p><b>Departments:</b> <%= @event.departments.map { |d| d.name } %></p>
<% if @event.category == "Training" %>
  <p><%= @event.course.blank? ? "Training" : @event.course.name %> by <%= @event.instructor %></p>
<% end %>
<%= display_event_status(@event) %>

<div class='event-tabs'>
  <ul class="nav nav-tabs">
    <li class="active"><a class='event-tabs-anchor' href="#event-task-tab" data-toggle="tab">Tasks</a></li>
    <li><a class='event-tabs-anchor' href="#event-availability-tab" data-toggle="tab">Availabilities</a></li>
    <li><a class='event-tabs-anchor' href='#event-notification-tab' data-toggle="tab">Notifications</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="event-task-tab">
      <%= render(partial: 'tasks/tasks_table', locals: { tasks: @event.tasks}) %>
    </div>
    <div class="tab-pane" id="event-availability-tab">
      <div id="event_availabilities" >
        <%= render(:partial => "availabilities/availabilities_table",
                   :locals => { :availabilities => ( @event.responses + @event.assignments.active),
                                :partial_availabilities => ( @event.partial_responses)} ) || "No Availabilities yet !" %>

        <%= render(partial: "people/people_table",
                   locals: { people: @event.unresponsive_people,
                             title: "No Response" }) || "Everyone Responded !" %>
      </div>
    </div>
    <div class="tab-pane" id="event-notification-tab">
      <%= render(partial: 'notifications/notifications_table',
                 locals: { notifications: @event.notifications }) %>
    </div>
  </div>
</div>

<% if @event.comments.present? %>
  <p><b>Comments:</b> <%= @event.comments %></p>
<% end %>
<p>
  Created <%= @event.created_at %><br/>
  Last Modified <%= @event.updated_at %>
</p>
