<% content_for :sidebar do %>
  <%= link_to 'Return to Events', events_path, :class => 'btn' %></br></br>
  <%= link_to 'Edit Event', edit_event_path(@event), :class => 'btn' if can? :edit, @event  %></br></br>
  <%= link_to "Excel", event_path(@event, format: "xlsx") %>
 <% end %>

<h3><%= @event.title %></h3>
<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<% if @event.category == "Training" %><p>
  <%= @event.course.blank? ? "Training" : @event.course.name %> by <%= @event.instructor %>
</p>
<% end %>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time %>
</p>

<p>
  <b>Duration:</b>
  <%= @event.duration %> hours
</p>

<p>
  <b>Category:</b>
  <%= @event.category %>
</p>

<p>
  <b>Status:</b>
  <%= @event.status %>
</p>

<div id="event_timecards" >
  <%= render "unknown_for_event" %>
  <%= render "unavailable_for_event" %>
  <%= render "available_for_event" %>
  <%= render "scheduled_for_event" %>
  <%= render "working_for_event" %>
  <%= render "worked_for_event" %>
  <%= render "all_for_event" %>
</div>

<%= @event.comments %>
Created <%= @event.created_at %></br>
Last Modified <%= @event.updated_at %>