<% content_for :sidebar do %>
  <%= link_to 'Return to Events', events_path, :class => 'btn' %></br></br>
  <%= link_to 'Edit Event', edit_event_path(@event), :class => 'btn' if can? :edit, @event  %></br></br>
 <% end %>

<h3><%= @event.title %></h3>
<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<% if @event.category == "Training" %><p>
  <%= @event.course.blank? ? "Training" : @event.course.name %> by <%= @event.instructor %>
</p>
<% end %>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time %>
</p>

<p>
  <b>Duration:</b>
  <%= @event.duration %> hours
</p>

<p>
  <b>Category:</b>
  <%= @event.category %>
</p>

<p>
  <b>Status:</b>
  <%= @event.status %>
</p>

<div id="event_timeslots" >
  <div class="accordion">
    <h3>Unknown (<%= @event.unknown_people.count %>) </h3>
    <div>
      <table id="unknown" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <% @event.unknown_people.each do |person| %>
            <tr>
              <td><%= link_to person.fullname, person %></td>
              <td><%= person.channels.phone.map { |e| number_to_phone(e.content, area_code: true) }.join(',') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="accordion">
    <h3>Available (<%= @event.available_people.count %>) </h3>
    <div>
      <table id="available" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Hours</th>
          </tr>
        </thead>
        <tbody>
          <% @event.available_people.each do |timeslot| %>
            <tr>
              <td><%= link_to timeslot.person.fullname, timeslot %></td>
              <td><%= timeslot.intended_start_time %></td>
              <td><%= timeslot.intended_end_time %></td>
              <td><%= timeslot.intended_duration %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="accordion">
    <h3>Unavailable (<%= @event.timeslots.unavailable.count %>) </h3>
    <div>
      <table id="unavailable" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Department</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @event.timeslots.unavailable.each do |timeslot| %>
            <tr>
              <td><%= link_to timeslot.person.fullname, timeslot %></td>
              <td><%= timeslot.person.department %></td>
              <td><%= link_to 'Edit', edit_timeslot_path(timeslot), :class => "btn btn-mini" if can? :update, timeslot %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="accordion">
    <h3 id="scheduled-heading" >Scheduled (<%= @event.timeslots.scheduled.count %>) <%#= @event.manhours %> </h3>
    <%#= render partial: "events/intended_timeslots", collection: @event.timeslots.available %>
    <div>
      <table id="scheduled" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Hours</th>
          </tr>
        </thead>
        <tbody>
          <% @event.timeslots.scheduled.each do |timeslot| %>
            <tr>
              <td><%= link_to timeslot.person.fullname, timeslot %></td>
              <td><%= timeslot.intended_start_time  %></td>
              <td><%= timeslot.intended_end_time %></td>
              <td><%= timeslot.intended_duration %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="accordion">
    <h3>Worked(<%= @event.timeslots.worked.count %>) <%#= @event.manhours %> </h3>
    <div>
      <table id="worked" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Hours</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @event.timeslots.worked.each do |timeslot| %>
            <tr>
              <td><%= link_to timeslot.person.fullname, timeslot %></td>
              <td><%= timeslot.actual_start_time  %></td>
              <td><%= timeslot.actual_end_time %></td>
              <td><%= timeslot.actual_duration %></td>
              <td><%= link_to 'Edit', edit_timeslot_path(timeslot), :class => "btn btn-mini" if can? :update, timeslot %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= @event.comments %>
Created <%= @event.created_at %></br>
Last Modified <%= @event.updated_at %>