<% content_for :sidebar do %>
  <%= link_to 'Return to Events', events_path, :class => 'btn' %></br></br>
  <%= link_to 'Edit Event', edit_event_path(@event), :class => 'btn btn-primary' unless cannot? :edit, @event  %></br></br>
  <%#= link_to 'New Cert', new_person_cert_path(@person), :class => 'btn' unless cannot? :create, Event  %>
<% end %>

<h3>
  <%= @event.course.name unless @event.course.blank? %>
</h3>

<p>
  <b>Instructor:</b>
  <%= @event.instructor %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time %>
</p>

<p>
  <b>Duration:</b>
  <%= @event.duration %> hours
</p>

<p>
  <b>Category:</b>
  <%= @event.category %>
</p>

<p>
  <b>Status:</b>
  <%= @event.status %>
</p>

<div class="accordion">
  <h3>Attendees (<%= @event.people.uniq.count %>) <%= @event.manhours %> hours</h3>
  <div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start</th>
          <th>End</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <% @event.timeslots.each do |timeslot| %>
          <tr>
            <td>
              <%= link_to timeslot.person.fullname, timeslot %>
            </td>
            <td>
              <%= timeslot.start_time.to_s %>
            </td>
            <td>
              <%= timeslot.end_time.to_s %>
            </td>
            <td>
              <%= timeslot.duration %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
