<% content_for :sidebar do %>
  <%= link_to 'Return to Events', events_path, class: 'btn btn-primary', style: 'width: 100%' %><br/><br/>
  <%= link_to 'Edit Event', edit_event_path(@event), class: 'btn btn-primary', style: 'width: 100%' if can? :edit, @event  %><br/><br/>
  <%= link_to 'Create Availability', new_event_availability_path(@event), :class => 'btn btn-primary', style: 'width: 100%' if can? :create, Availability  %></br></br>
  <%= link_to "Excel", event_path(@event, format: "xlsx"), class: 'btn btn-primary', style: 'width: 100%' %>
<% end %>

<h3><%= @event.title %></h3>
<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<% if @event.category == "Training" %><p>
  <%= @event.course.blank? ? "Training" : @event.course.name %> by <%= @event.instructor %>
</p>
<% end %>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time %>
</p>

<p>
  <b>Duration:</b>
  <%= @event.duration %> hours
</p>

<p>
  <b>Category:</b>
  <%= @event.category %>
</p>

<p>
  <b>Status:</b>
  <%= @event.status %>
</p>
<p>Available: <b><%= @event.availabilities.count %></b></p>
<p>Unavailable: <b><%= @event.unavailabilities.count %></b></p>
<hr>

<%#= 1/0 %>
<div id="event_availabilities" >
  <%= render(:partial => "availabilities/availabilities_table",
             :locals => { :availabilities => ( @event.responses)} ) || "No Availabilities yet !" %>
  <hr>
  <%= render(:partial => "people/people_table",
             :locals => { :people => @event.unresponsive_people, :title => "No Response" }) || "Everyone Responded !" %>
</div>

<%= @event.comments %>
Created <%= @event.created_at %><br/>
Last Modified <%= @event.updated_at %>
