<% content_for :sidebar do %>
  <%= link_to 'Return to Events', events_path, :class => 'btn' %></br></br>
  <%= link_to 'Edit Event', edit_event_path(@event), :class => 'btn btn-primary' if can? :edit, @event  %></br></br>
  <%#= link_to 'New Cert', new_person_cert_path(@person), :class => 'btn' unless cannot? :create, Event  %>
<% end %>

<h3><%= @event.title %></h3>
<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<% if @event.category == "Training" %><p>
  <%= @event.course.name if @event.course %> by <%= @event.instructor %>
</p>
<% end %>

<p>
  <b>Start time:</b>
  <%= @event.start_time.strftime("%B %e, %Y %H:%M") if @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time.strftime("%B %e, %Y %H:%M") if @event.end_time %>
</p>

<p>
  <b>Duration:</b>
  <%= @event.duration %> hours
</p>

<p>
  <b>Category:</b>
  <%= @event.category %>
</p>

<p>
  <b>Status:</b>
  <%= @event.status %>
</p>

<div class="accordion">
  <h3>Attendees (<%= @event.people.uniq.count %>) <%= @event.manhours %> actual hours</h3>
  <div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Intended Status</th>
          <th>Intnd Start</th>
          <th>Intnd End</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <% @event.timeslots.each do |timeslot| %>
          <tr>
            <td>
              <%= link_to timeslot.person.fullname, timeslot %>
            </td>
            <td>
              <%= timeslot.intention %>
            </td>
            <td>
              <%= timeslot.intended_start_time.strftime("%B %e, %Y %H:%M") if timeslot.intended_start_time %>
            </td>
            <td>
              <%= timeslot.intended_end_time.strftime("%B %e, %Y %H:%M") if timeslot.intended_end_time %>
            </td>
            <td>
              <%= timeslot.intended_duration %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= @event.comments %>
Last Modified <%= @event.updated_at.to_s(:long) %>