<% content_for :sidebar do %>
  <%= sidebar_button_link 'Edit', edit_setting_path(@setting) %>
  <%= sidebar_button_link 'Back', settings_path %>
<% end %>

<p id="notice"><%= notice %></p>

<p><%= @setting.name %></p>
<p><%= truncate(@setting.description) %></p>
<p><%= @setting.key %></p>
<p><%= @setting.value %></p>
<p><%= @setting.category %></p>
<p><%= @setting.status %></p>
<p><%= @setting.required %></p>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>