<%= simple_form_for(@move) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :item_id %>
    <%= f.input :locatable_id %>
    <%= f.input :locatable_type %>
    <%= f.input :comments %>
    <%= f.input :reason %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>