<% content_for :sidebar do %>
  <h1>Editing move</h1>
  <%= sidebar_button_link 'Cancel Edit', :back %>
<% end %>

<%= render 'form' %>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>