<h1>Listing Moves</h1>

<table id="moves" class="generic_datatable table table-striped table-bordered">
  <thead>
    <tr>
      <th>Item</th>
      <th>Locatable</th>
      <th>Locatable type</th>
      <th>Comments</th>
      <th>Reason</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @moves.each do |move| %>
      <tr>
        <td><%= move.item_id %></td>
        <td><%= move.locatable_id %></td>
        <td><%= move.locatable_type %></td>
        <td><%= move.comments %></td>
        <td><%= move.reason %></td>
        <td><%= table_button_link 'Show', move %></td>
        <td><%= table_button_link 'Edit', edit_move_path(move) %></td>
        <td><%= table_button_link 'Destroy', move, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= independent_button_link 'New Move', new_move_path %>
