<% content_for :sidebar do %>
  <%= sidebar_button_link 'Edit', edit_move_path(@move) %>
  <%= sidebar_button_link 'Back', moves_path %>
<% end %>

<p>
  <b>Item:</b>
  <%= @move.item_id %>
</p>

<p>
  <b>Locatable:</b>
  <%= @move.locatable_id %>
</p>

<p>
  <b>Locatable type:</b>
  <%= @move.locatable_type %>
</p>

<p>
  <b>Comments:</b>
  <%= @move.comments %>
</p>

<p>
  <b>Reason:</b>
  <%= @move.reason %>
</p>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>