<% content_for :sidebar do %>
  <center><h1>Listing Titles</h1></br>
  <%= link_to 'New Title', new_title_path, :class => 'btn' %></center>
<% end %>

<table id="titles" class="display table table-striped table-bordered" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @titles.each do |title| %>
      <tr>
	<td><%= link_to title.name, title_path(title) %></td>
	<td><%= title.status %></td>
	<td><%= title.description %></td>
	<td><%= link_to 'Edit', edit_title_path(title), :class => 'btn btn-mini btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />


