<% content_for :sidebar do %>
  <%= sidebar_button_link 'New Title', new_title_path %>
<% end %>
<table id="titles" class="datatable table table-striped table-bordered" >
  <caption><h3><%= @page_title %></h3></caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @titles.each do |title| %>
      <tr>
        <td><%= link_to title.name, title_path(title) %></td>
        <td><%= title.status %></td>
        <td><%= title.description %></td>
        <td><%= table_button_link 'Edit', edit_title_path(title) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>