<table id="titles" class="datatable display table table-striped table-bordered" >
  <caption><h3><%= @page_title %></h3></caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @titles.each do |title| %>
      <tr>
	<td><%= link_to title.name, title_path(title) %></td>
	<td><%= title.status %></td>
	<td><%= title.description %></td>
	<td><%= link_to 'Edit', edit_title_path(title), class: 'btn btn-xs btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
