<% content_for :sidebar do %>

  <p><h2>Title</br><%= @title.name %></h2></p>

  <%= link_to 'Edit', edit_title_path(@title), class: 'btn btn-primary' %>
  <%#= link_to 'Destroy', @skill, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></br></br>
  <%= link_to 'Titles Listing', titles_path, class: 'btn btn-default' %>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @title.name %>
</p>

<p>
  <b>Status:</b>
  <%= @title.status %>
</p>

<p>
  <b>Description:</b>
  <%= @title.description %>
</p>

<p>
  <b>Comments:</b>
  <%= @title.comments %>
</p>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
	<th>People Who Seek This Title (<%= @title.people.active.uniq.count %>)</th>
    </tr>
  </thead>
  <tbody>
    <%= render @title.people.active.uniq %>
  </tbody>
</table>
