<% content_for :sidebar do %>
  <h2>Title<br/><%= @title.name %></h2>
  <%= sidebar_button_link 'Edit', edit_title_path(@title) %>
  <%#= sidebar_button_link 'Destroy', @skill, method: :delete %>
  <%= sidebar_button_link 'Titles Listing', titles_path %>
<% end %>

<p>
  <b>Title:</b>
  <%= @title.name %>
</p>

<p>
  <b>Status:</b>
  <%= @title.status %>
</p>

<p>
  <b>Description:</b>
  <%= @title.description %>
</p>

<p>
  <b>Comments:</b>
  <%= @title.comments %>
</p>

<table class="generic_datatable table table-striped table-bordered">
  <thead>
    <tr>
      <th>People Who Seek This Title (<%= @title.people.active.uniq.count %>)</th>
    </tr>
  </thead>
  <tbody>
    <%= render @title.people.active.uniq %>
  </tbody>
</table>
