<% content_for :sidebar do %>
  <%= sidebar_button_link 'Edit', edit_role_path(@role) %>
  <%= sidebar_button_link 'Back', roles_path %>
<% end %>

<p>
  <b>Name:</b>
  <%= @role.name %>
</p>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>