<%= simple_form_for @item, :html => {:multipart => true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :department %>
    <%= f.association :location %>
    <%= f.association :owner %>
    <%= f.input :status, :as => :select, :collection => Item::STATUS_CHOICES %>
    <%= f.association :resource_type, :label => 'FEMA Resource Type' %>
    <%= f.association :item_type, :label => 'Item Type' %>
    <%= f.input :name %>
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :stock_number %>
    <%= f.input :description %>
    <%= f.input :source %>
    <%= f.input :po_number %>
    <%= f.input :value, :placeholder => 'Replacement price' %>
    <%= f.input :grant, :placeholder => 'Grant name, if applicable' %>
    <%= f.input :purchase_date, as: :string,
                input_html: { class: 'datepicker', size: 11,
                              value: format_date_value(f.object.purchase_date) } %>
    <%= f.input :purchase_amt %>
    <%= f.input :sell_date, as: :string,
                input_html: { class: 'datepicker', size: 11,
                              value: format_date_value(f.object.sell_date) } %>
    <%= f.input :sell_amt %>
    <%= f.file_field :item_image %>
    <%= f.input :comments %>
  </div>

  <%= f.fields_for :unique_ids do |builder| %>
    <%= render 'unique_id_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Unique ID", f, :unique_ids %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
