<% content_for :sidebar do %>
  <center><h1>Listing Items</h1></br>
  <%= link_to 'New Item', new_item_path, :class => 'btn' unless cannot? :create, Item %></center>
<% end %>

<table id="items" class="datatable display table table-striped table-bordered" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Category</th>
      <th>Serial</th>
      <th>Local Serial</th>
      <th>Owner</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
	<td><%= link_to item.model + " " + item.name, item_path(item) %></td>
	<td><%= item.location_id %></td>
	<td><%= item.category %></td>
	<td><%= item.serial %></td>
	<td><%= item.local_serial %></td>
	<td><%= item.person.fullname unless item.person_id.blank? %></td>
	<td><%= item.status %></td>
	<td><%= link_to 'Edit', edit_item_path(item), :class => 'btn btn-mini btn-primary' unless cannot? :edit, item %></td>
      </tr>
    <% end %>
  </tbody>
</table>

