<table id="items" class="generic_datatable table table-striped table-bordered" >
  <caption><h3><%= @page_title %></h3></caption>
  <thead>
    <tr>
      <th>Location</th>
      <th>Name</th>
      <th>Model</th>
      <th>Category</th>
      <th>Serial 1</th>
      <th>Serial 2</th>
      <th>Serial 3</th>
      <th>Costs</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.location.name if item.location %></td>
        <td><%= link_to item.name, item_path(item) %></td>
        <td><%= item.model %></td>
        <td><%= item.category %></td>
        <td><%= item.serial1 %></td>
        <td><%= item.serial2 %></td>
        <td><%= item.serial3 %></td>
        <td><%= number_to_currency item.recent_costs %></td>
        <td>
          <span class="label <%= item_label(item) %>">
            <%= item.status %>
          </span>
        </td>
        <td><%= link_to 'Edit', edit_item_path(item), class: 'btn btn-xs btn-primary' unless cannot? :edit, item %></td>
      </tr>
    <% end %>
  </tbody>
</table>
