<% content_for :sidebar do %>
  <%= link_to 'Return to Listing', items_path, :class => 'btn' %></br></br>
  <%= link_to 'Edit Item', edit_item_path(@item), :class => 'btn btn-primary' unless cannot? :edit, @item  %></br></br>
<% end %>

<p>
  <b>Location:</b>
  <%= @item.location_id %>
</p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Source:</b>
  <%= @item.source %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category %>
</p>

<p>
  <b>Model:</b>
  <%= @item.model %>
</p>

<p>
  <b>Serial 1:</b>
  <%= @item.serial1 %>
</p>
<p>
  <b>Serial 2:</b>
  <%= @item.serial2 %>
</p>
<p>
  <b>Serial 3</b>
  <%= @item.serial3 %>
</p>

<p>
  <b>Owner:</b>
  <%= @item.person.fullname unless @item.person_id.blank? %>
</p>

<p>
  <b>Purchase date:</b>
  <%= @item.purchase_date %>
</p>

<p>
  <b>Purchase amt:</b>
  <%= @item.purchase_amt %>
</p>

<p>
  <b>Sell date:</b>
  <%= @item.sell_date %>
</p>

<p>
  <b>Sell amt:</b>
  <%= @item.sell_amt %>
</p>

<p>
  <b>Status:</b>
  <%= @item.status %>
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
	<th>Repairs <%= link_to 'New Repair or Service', new_item_repair_path(@item) %></th>
    </tr>
  </thead>
  <tbody>
      <%= render(:partial => "repairs/repair", :collection => @item.repairs) || raw("<tr><td>No repairs yet !</td></tr>") %>
  </tbody>
</table>
