<% content_for :sidebar do %>
  <%= sidebar_button_link 'Return to Listing', items_path %>
  <%= edit_item_button %>
  <%= add_repair_button %>
  <%= add_inspection_button %>
<% end %>

<h3>
  <% if @item.status.present? %>
    <%= item_status_label(@item) %> &nbsp;
  <% end %>
  <%= @item.name %>
  <% if @item.brand.present? || @item.model.present? %>
    ( <%=@item.brand.to_s %> <%= @item.model.to_s %> )
  <% end %>
</h3>

<% if @item.description.present? %>
  <p><b>Description:</b> <%= @item.description %></p>
<% end %>

<% if @item.location.present? %>
  <p><b>Location:</b> <%= @item.location %></p>
<% end %>

<% if @item.source.present? %>
  <p><b>Source:</b> <%= @item.source %></p>
<% end %>

<% if @item.item_type.present? %>
  <p><b>Item Type:</b> <%= @item.item_type %></p>
<% end %>

<% if @item.owner.present? %>
  <p><b>Owner:</b> <%= @item.owner.fullname %></p>
<% end %>

<% if @item.purchase_date.present? %>
  <p><b>Purchase date:</b> <%= @item.purchase_date %></p>
<% end %>

<p><b>Expenses in last 6 months </b><%= number_to_currency @item.recent_costs %></p>

<% if @item.purchase_amt.present? %>
  <p><b>Purchase amt:</b> <%= @item.purchase_amt %></p>
<% end %>

<% if @item.grant.present? %>
  <p><b>Grant</b> <%= @item.grant %></p>
<% end %>

<% if @item.sell_date.present? %>
  <p><b>Sell date:</b> <%= @item.sell_date %></p>
  <p> <b>Sell amt:</b> <%= @item.sell_amt %></p>
<% end %>

<% @item.unique_ids.each do |id| %>
  Unique ID <b><%= id.value %> <%= id.category %></b><br/>
<% end %>

<%= render(:partial => "repairs/repairs_table", :repairs => @item.repairs) || "No Repairs yet !" %>
<hr>
<%= render(:partial => "inspections/inspections_table", :inpections => @item.inspections) || "No Inspections yet !" %>
<%= image_tag @item.item_image.to_s if @item.item_image.present? %>
