<% content_for :sidebar do %>
  <%= link_to 'Return to Listing', items_path, class: 'btn btn-default' %></br></br>
  <%= edit_item_button %></br></br>
  <%= add_repair_button %></br></br>
  <%= add_inspection_button %></br></br>
<% end %>

<h3>
  <span class="label <%= item_label(@item) %>">
    <%= @item.status %>
  </span> &nbsp;
  <%= @item.name + " ( " + @item.brand + " " + @item.model + " )" %>
</h3>

<% if @item.description.present? %>
  <p><b>Description:</b> <%= @item.description %></p>
<% end %>

<p><b>Location:</b> <%= @item.location %></p>

<% if @item.source.present? %>
  <p>Source:<b><%= @item.source %></b></p>
<% end %>

<% if @item.item_type.present? %>
  <p><b>Item Type:</b> <%= @item.item_type %></p>
<% end %>

<% if @item.serial1.present? %>
  <p><b>Serial 1:</b> <%= @item.serial1 %> </p>
<% end %>

<% if @item.serial2.present? %>
  <p><b>Serial 2:</b> <%= @item.serial2 %> </p>
<% end %>

<% if @item.serial3.present? %>
  <p><b>Serial 3</b> <%= @item.serial3 %></p>
<% end %>

<% if @item.owner.present? %>
  <p><b>Owner:</b> <%= @item.owner.fullname %></p>
<% end %>

<% if @item.purchase_date.present? %>
  <p><b>Purchase date:</b> <%= @item.purchase_date %></p>
<% end %>
<p><b>Expenses in last 6 months </b><%= number_to_currency @item.recent_costs %></p>

<% if @item.purchase_amt.present? %>
  <p><b>Purchase amt:</b> <%= @item.purchase_amt %></p>
<% end %>

<% if @item.grant.present? %>
  <p><b>Grant</b> <%= @item.grant %></p>
<% end %>

<% if @item.sell_date.present? %>
  <p><b>Sell date:</b> <%= @item.sell_date %></p>
  <p> <b>Sell amt:</b> <%= @item.sell_amt %></p>
<% end %>

<% @item.unique_ids.each do |id| %>
  Unique ID <b><%= id.value %> <%= id.category %></b></br>
<% end %>

<%= render(:partial => "repairs/repairs_table", :repairs => @item.repairs) || "No Repairs yet !" %>
<hr>
<%= render(:partial => "inspections/inspections_table", :inpections => @item.inspections) || "No Inspections yet !" %>
<%= image_tag @item.item_image.to_s if @item.item_image.present? %>
