<% content_for :sidebar do %>
  <%= link_to 'Return to Listing', items_path, :class => 'btn' %></br></br>
  <%= edit_item_button %></br></br>
  <%= add_repair_button %></br></br>
  <%= add_inspection_button %></br></br>
<% end %>
<p>
  <h3>
    <%= @item.name + " ( " + @item.brand + " " + @item.model + " )" %></br>
    <span class="badge <%= 'badge-success' if @item.status == 'Available' %>">
      <%= @item.status %>
    </span>
  </h3>
</p>

<p>
  <b>Location:</b>
  <%= @item.location %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Source:</b>
  <%= @item.source %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category %>
</p>

<p>
  <b>Serial 1:</b>
  <%= @item.serial1 %>
</p>

<% if @item.serial2.present? %>
  <p><b>Serial 2:</b> <%= @item.serial2 %> </p>
<% end %>

<% if @item.serial3.present? %>
  <p><b>Serial 3</b><%= @item.serial3 %></p>
<% end %>

<% if @item.person.present? %>
  <p><b>Owner:</b><%= @item.person.fullname %></p>
<% end %>

<p><b>Purchase date:</b><%= @item.purchase_date %></p>
<p><b>Expenses in last 6 months </b>
  <%= number_to_currency @item.recent_costs %></p>

<p><b>Purchase amt:</b>  <%= @item.purchase_amt %></p>
<% if @item.grant.present? %>
  <p><b>Grant</b> <%= @item.grant %></p>
<% end %>

<% if @item.sell_date.present? %>
  <p><b>Sell date:</b> <%= @item.sell_date %></p>
  <p> <b>Sell amt:</b> <%= @item.sell_amt %></p>
<% end %>


<%= render(:partial => "repairs/repairs_table", :repairs => @item.repairs) || "No Repairs yet !" %>
<hr>
<%= render(:partial => "inspections/inspections_table", :inpections => @item.inspections) || "No Inspections yet !" %>
<%= image_tag @item.item_image.to_s if @item.item_image.present? %>
