<% content_for :sidebar do %>
  <center><h1>Listing courses</h1></br>
  <%= link_to 'New Course', new_course_path, :class => 'btn' %></center>
<% end %>


<table id="courses" class="display" >
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Duration</th>
      <th>Term</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
	<td><%= link_to course.title, course %></td>
	<td><%= course.description %></td>
	<td><%= course.category %></td>
	<td><%= course.duration %></td>
	<td><%= course.term %></td>
	<td><%= link_to 'Edit', edit_course_path(course) %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Duration</th>
      <th>Term</th>
      <th>Required for</th>
      <th></th>
    </tr>
  </tfoot>

</table>

