<h1>Listing courses</h1>

<table id="courses" class="display" >
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Description</th>
      <th>Category</th>
      <th>Duration</th>
      <th>Term</th>
      <th>Required for</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
	<td><%= link_to course.title, course %></td>
	<td><%= course.status %></td>
	<td><%= course.description %></td>
	<td><%= course.category %></td>
	<td><%= course.duration %></td>
	<td><%= course.term %></td>
	<td><%= course.required_for_pd %></td>
	<td><%= link_to 'Edit', edit_course_path(course) %></td>
    </tr>
    <% end %>
  </tbody>

</table>

<br />

<%= link_to 'New Course', new_course_path %>
