<h1>Listing activities</h1>

<table id="activities" class="generic_datatable table table-striped table-bordered">
  <thead>
    <tr>
      <th>Content</th>
      <th>Author</th>
      <th>Loggable</th>
      <th>Loggable type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.content %></td>
        <td><%= activity.author %></td>
        <td><%= activity.loggable_id %></td>
        <td><%= activity.loggable_type %></td>
        <td><%= table_button_link 'Show', activity %></td>
        <td><%= table_button_link 'Edit', edit_activity_path(activity) %></td>
        <td><%= table_button_link 'Destroy', activity, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= independent_button_link 'New Activity', new_activity_path %>
