<h1>Listing activities</h1>

<table id="activities" class="generic_datatable display table table-striped table-bordered">
  <thead>
    <tr>
      <th>Content</th>
      <th>Author</th>
      <th>Loggable</th>
      <th>Loggable type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.content %></td>
        <td><%= activity.author %></td>
        <td><%= activity.loggable_id %></td>
        <td><%= activity.loggable_type %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
