<% content_for :sidebar do %>
  <%= sidebar_button_link 'Edit', edit_activity_path(@activity) %>
  <%= sidebar_button_link 'Back', activities_path %>
<% end %>

<p>
  <b>Content:</b>
  <%= @activity.content %>
</p>

<p>
  <b>Author:</b>
  <%= @activity.author %>
</p>

<p>
  <b>Loggable:</b>
  <%= @activity.loggable_id %>
</p>

<p>
  <b>Loggable type:</b>
  <%= @activity.loggable_type %>
</p>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>