
<%= simple_form_for(@timeslot) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :person %>
    <%= f.association :event %>
    <%= f.input :category, :as => :select, :collection => Event::CATEGORY_CHOICES %>
    <%= f.input :intention, :as => :select, :collection => Timeslot::INTENTION_CHOICES %>
    <%= f.input :outcome, :as => :select, :collection => Timeslot::OUTCOME_CHOICES %>
    <%= f.input :intended_start_time, :as => :string, :input_html => {:class => "datetimepicker",  :size => 11 }  %>
    <%= f.input :intended_end_time, :as => :string, :input_html => {:class => "datetimepicker", :size => 11 }  %>
    <%= f.input :actual_start_time, :as => :string, :input_html => {:class => "datetimepicker",  :size => 11 }  %>
    <%= f.input :actual_end_time, :as => :string, :input_html => {:class => "datetimepicker", :size => 11 }  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
