<% content_for :sidebar do %>
    <h1>Listing Timeslots</h1>
    <%= link_to 'New Timeslots', new_timeslot_path %>
<% end %>

<table id="timeslots" class="datatable display table table-striped table-bordered">
  <tr>
    <th>Person</th>
    <th>Event</th>
    <th>Category</th>
    <th>Intended Start</th>
    <th>Intended End</th>
    <th>Actual Start</th>
    <th>Actual End</th>
    <th>Actual Duration</th>
    <th></th>
  </tr>

<% @timeslots.each do |timeslot| %>
  <tr>
    <td><%= timeslot.person.fullname %></td>
    <td><%= timeslot.event.description %></td>
    <td><%= timeslot.category %></td>
    <td><%= timeslot.intended_start_time.to_s(:short) %></td>
    <td><%= timeslot.intended_end_time.to_s(:short) %></td>
    <td><%= timeslot.actual_start_time.to_s(:short) %></td>
    <td><%= timeslot.actual_end_time.to_s(:short) %></td>
    <td><%= timeslot.actual_duration %></td>
    <td><%= link_to 'Edit', edit_timeslot_path(timeslot), :class => 'btn btn-mini btn-primary' if can? :edit, timeslot %></td>
  </tr>
<% end %>
</table>

<br />

