<table id="timeslots" class="datatable display table table-striped table-bordered">
    <caption><h3>Listing Timeslots</h3></caption>
    <thead>        
        <tr>
            <th colspan="3"></th>
            <th colspan="3"><center>Intended</center></th>
            <th colspan="3"><center>Actual</center></th>
            <th colspan="2"></th>
        </tr>
      <tr>
        <th>Person</th>
        <th>Event</th>
        <th>Category</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% @timeslots.each do |timeslot| %>
            <tr>
                <td><%= link_to timeslot.person.fullname, person_path(timeslot.person) %></td>
                <td><%= link_to timeslot.event.title, timeslot.event %></td>
                <td><%= timeslot.category %></td>
                <td><%= timeslot.intended_start_time.to_s(:short) if timeslot.intended_start_time %></td>
                <td><%= timeslot.intended_end_time.to_s(:short) if timeslot.intended_end_time%></td>
                <td><%= timeslot.intended_duration %></td>
                <td><%= timeslot.actual_start_time.to_s(:short) if timeslot.actual_start_time %></td>
                <td><%= timeslot.actual_end_time.to_s(:short)  if timeslot.actual_end_time %></td>
                <td><%= timeslot.actual_duration %></td>
                <td><%= link_to 'Edit', edit_timeslot_path(timeslot), :class => 'btn btn-mini' if can? :edit, timeslot %></td>
                <td><%= link_to 'Worked', edit_timeslot_path(timeslot), :title => "Use times and values from the event", :class => 'btn btn-mini' if can? :edit, timeslot %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br />

