<%# present @timeslot do |timeslot_presenter| %>
<% content_for :sidebar do %>
  <%= link_to 'Return to Timeslots', timeslots_path, :class => 'btn' %></br></br>
  <%= link_to 'Edit Timeslot', edit_timeslot_path(@timeslot), :class => 'btn' if can? :edit, @timeslot  %></br></br>
<% end %>

<p>
  <b>Person:</b>
  <%= link_to @timeslot.person.fullname, @timeslot.person %>
</p>

<p>
  <b>Event:</b>
  <%= link_to @timeslot.event.title, @timeslot.event %>
</p>

<p>
  <b>Category:</b>
  <%= @timeslot.category %>
</p>

<p>
  <b>Intention:</b>
  <%= @timeslot.intention %>
</p>

<p>
  <b>Intended Start</b>
  <%= @timeslot.intended_start_time.strftime("%B %e, %Y %H:%M") if @timeslot.intended_start_time %>
</p>

<p>
  <b>Intended End</b>
  <%= l @timeslot.intended_end_time, :format => :long if @timeslot.intended_end_time %>
</p>

<p>
  <b>Intended Duration:</b>
  <%= @timeslot.intended_duration %>
</p>

<p>
  <b>Actual Outcome</b>
  <%= @timeslot.outcome %>
</p>

<p>
  <b>Actual Start</b>
  <%= l @timeslot.actual_start_time, :format => :long if @timeslot.actual_start_time %>
</p>

<p>
  <b>Actual End</b>
  <%= l @timeslot.actual_end_time, :format => :long if @timeslot.actual_end_time %>
</p>

<p>
  <b>Actual Duration:</b>
  <%= @timeslot.actual_duration %>
</p>

<%# end # This closes the presenter %>