<% content_for :sidebar do %>
  <%= link_to 'Return to Listing', timeslots_path, :class => 'btn' %></br></br>
  <%= link_to 'Edit Timeslot', edit_timeslot_path(@timeslot), :class => 'btn btn-primary' if can? :edit, @timeslot  %>
  </br></br>
<% end %>


<p>
  <b>Person:</b>
  <%= link_to @timeslot.person.fullname, @timeslot.person %>
</p>

<p>
  <b>Event:</b>
  <%= link_to @timeslot.event.description, @timeslot.event %>
</p>

<p>
  <b>Category:</b>
  <%= @timeslot.category %>
</p>

<p>
  <b>Status:</b>
  <%= @timeslot.status %>
</p>

<p>
  <b>Start time:</b>
  <%= @timeslot.start_time.to_s(:short) %>
</p>

<p>
  <b>End time:</b>
  <%= @timeslot.end_time.to_s(:short) %>
</p>

<p>
  <b>Duration:</b>
  <%= @timeslot.duration %>
</p>