<%= simple_form_for(@repair) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :item %>
    <%= f.association :person, :label => "Repairer" %>
    <%= f.input :status, :as => :select, :collection => Repair::STATUS_CHOICES %>
    <%= f.input :category, :as => :select, :collection => Repair::CATEGORY_CHOICES %>
    <%= f.input :service_date, :as => :string, :input_html => { :size => 11 }  %>
    <%= f.input :description %>
    <%= f.input :comments %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
