<%= simple_form_for(@repair) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :item %>
    <%= f.association :person, :label => "Repairer", collection: Person.active %>
    <%= f.input :status, :as => :select, :collection => Repair::STATUS_CHOICES %>
    <%= f.input :service_date, as: :string,
                input_html: { class: 'datepicker', size: 11,
                              value: format_date_value(f.object.service_date) } %>
    <%= f.input :description %>
    <%= f.input :cost %>
    <%= f.input :comments %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
