<tr>
  <td>
    <%= repair.status %> - <%= link_to repair.description, repair %>
  </td>
</tr><p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>