<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @repair.item_id %>
</p>

<p>
  <b>User:</b>
  <%= @repair.user_id %>
</p>

<p>
  <b>Person:</b>
  <%= @repair.person_id %>
</p>

<p>
  <b>Category:</b>
  <%= @repair.category %>
</p>

<p>
  <b>Service date:</b>
  <%= @repair.service_date %>
</p>

<p>
  <b>Status:</b>
  <%= @repair.status %>
</p>

<p>
  <b>Description:</b>
  <%= @repair.description %>
</p>

<p>
  <b>Comments:</b>
  <%= @repair.comments %>
</p>


<%= link_to 'Edit', edit_repair_path(@repair) %> |
<%= link_to 'Back', repairs_path %>
