<% content_for :sidebar do %>
  <h1>Repair</h1>
  <%= link_to 'Repairs List', repairs_path , :class => 'btn' %></br></br>
  <%= link_to 'Items List', items_path , :class => 'btn' %>
<% end %>

<p>
  <b>Item:</b>
  <%= link_to @repair.item.name, @repair.item %>
</p>


<p>
  <b>Repairer:</b>
  <%= @repair.person.fullname unless @repair.person.blank? %>
</p>

<p>
  <b>Category:</b>
  <%= @repair.category %>
</p>

<p>
  <b>Service date:</b>
  <%= @repair.service_date %>
</p>

<p>
  <b>Status:</b>
  <%= @repair.status %>
</p>

<p>
  <b>Description:</b>
  <%= @repair.description %>
</p>

<p>
  <b>Comments:</b>
  <%= @repair.comments %>
</p>

