<% content_for :sidebar do %>
  <%= sidebar_button_link 'Edit Repair', edit_repair_path(@repair) %>
<% end %>

<h3>
  <%= link_to @repair.item_category,
                item_category_path(@repair.item_category) %> >
  <%= link_to @repair.item_type, @repair.item_type %>  >
  <%= link_to @repair.item, @item %> > Repair
</h3>

<p>
  <b>Repairer:</b>
  <%= @repair.person.fullname unless @repair.person.blank? %>
</p>

<p>
  <b>Category:</b>
  <%= @repair.category %>
</p>

<p>
  <b>Service date:</b>
  <%= @repair.service_date %>
</p>

<p>
  <b>Status:</b>
  <%= @repair.status %>
</p>

<p>
  <b>Description:</b>
  <%= @repair.description %>
</p>

<p>
  <b>Comments:</b>
  <%= @repair.comments %>
</p>
