<%= simple_form_for(@attendance) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :person_id %>
    <%= f.input :event_id %>
    <%= f.input :category %>
    <%= f.input :est_start_time %>
    <%= f.input :start_time %>
    <%= f.input :est_end_time %>
    <%= f.input :end_time %>
    <%= f.input :duration %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
