<h1>Listing attendances</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Event</th>
    <th>Category</th>
    <th>Est start time</th>
    <th>Start time</th>
    <th>Est end time</th>
    <th>End time</th>
    <th>Duration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attendances.each do |attendance| %>
  <tr>
    <td><%= attendance.person_id %></td>
    <td><%= attendance.event_id %></td>
    <td><%= attendance.category %></td>
    <td><%= attendance.est_start_time %></td>
    <td><%= attendance.start_time %></td>
    <td><%= attendance.est_end_time %></td>
    <td><%= attendance.end_time %></td>
    <td><%= attendance.duration %></td>
    <td><%= link_to 'Show', attendance %></td>
    <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
    <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attendance', new_attendance_path %>
