<%= simple_form_for(@inspection) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :inspection_date, :as => :string, :input_html => { :class => 'datepicker', :size => 11 }  %>
    <%= f.input :status, :as => :select, :collection => Inspection::STATUS_CHOICES %>
    <%= f.input :comments %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
