<table id="inspections" class="generic_datatable table table-striped table-bordered" >
  <caption><h3><%= "Inspections" %></h3></caption>
  <thead>
    <tr>
      <th>Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @inspections.each do |inspection| %>
      <tr>
        <td><%= link_to inspection.inspection_date, inspection_path(inspection) %></td>
        <td>
          <span class="label <%= success_or_warning_label(inspection.status, 'Complete - Passed') %>">
            <%= inspection.status %>
          </span>
        </td>
        <td><%= table_button_link 'Edit', edit_inspection_path(inspection) unless cannot? :edit, inspection %></td>
      </tr>
    <% end %>
  </tbody>
</table>
