<% content_for :sidebar do %>
  <h1>Listing inspections</h1>
<% end %>

<table id="inspections" class="datatable table table-striped table-bordered">
  <thead>
    <tr>
      <th>Item</th>
      <th>Date</th>
      <th>Inspection Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @inspections.each do |inspection| %>
      <tr>
        <td><%= inspection.item&.name %></td>
        <td><%= format_datetime_value(inspection.inspection_date) %></td>
        <td>
          <span class="label <%= inspection_label(inspection) %>">
            <%= inspection.status %>
          </span>
        </td>
        <td><%= table_button_link 'Show', inspection %></td>
        <td><%= table_button_link 'Edit', edit_inspection_path(inspection) %></td>
        <td><%= table_button_link 'Destroy', inspection, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
