<h1>Listing inspections</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Inspection date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inspections.each do |inspection| %>
  <tr>
    <td><%= inspection.person_id %></td>
    <td><%= inspection.inspection_date %></td>
    <td><%= link_to 'Show', inspection %></td>
    <td><%= link_to 'Edit', edit_inspection_path(inspection) %></td>
    <td><%= link_to 'Destroy', inspection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inspection', new_inspection_path %>
