<% content_for :sidebar do %>
  <h2>New inspection</h2>
  <h3>(for <%= @inspection.item.name %>)</h3>
  <%= sidebar_button_link 'Return to Item', @inspection.item %>
  <%= sidebar_button_link 'Return to Inspections List', inspections_path %>
<% end %>

<%= render 'form' %>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>