<% content_for :sidebar do %>
  <h2>Inspection</h2>
  <h3>for <%= @inspection.item.name %></h3>
  <%= sidebar_button_link 'Return to Item', @inspection.item %>
  <%= sidebar_button_link 'Return to Inspections List', inspections_path %>
  <%= sidebar_button_link 'Edit Inspection', edit_inspection_path(@inspection) if can? :edit, @inspection %>
<% end %>

Inspection of <%= link_to @inspection.item.name, item_path(@inspection.item) %>
on <%= format_date_value(@inspection.inspection_date) %>.
<p>Status: <%= inspection_status_label(@inspection) %></p>

<% if @inspection.comments.present? %>
  <p>Comments: <%= @inspection.comments %></p>
<% end %>
