<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @inspection.person_id %>
</p>

<p>
  <b>Inspection time:</b>
  <%= @inspection.inspection_time %>
</p>


<%= link_to 'Edit', edit_inspection_path(@inspection) %> |
<%= link_to 'Back', inspections_path %>
