<%= simple_form_for(@location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :floor %>
    <%= f.input :container %>
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :status, :as => :select, :collection => ['Active', 'Inactive'] %>
    <%= f.input :comments %>
    <%= f.input :lat %>
    <%= f.input :lon %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
