<% content_for :sidebar do %>
  <%= sidebar_button_link 'New Location', new_location_path if can? :create, Location %>
<% end %>

<table id="locations" class="datatable table table-striped table-bordered" >
  <caption><h3><%= @page_title %></h3></caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location %></td>
        <td><%= location.description %></td>
        <td><%= location.category %></td>
        <td><%= location.status %></td>
        <td><%= table_button_link 'Edit', edit_location_path(location) if can? :update, location %></td>
      </tr>
    <% end %>
  </tbody>
</table>
