<table id="availabilities" class="generic_datatable table table-striped table-bordered">
  <thead>
    <tr>
      <th>Status</th>
      <th>ID</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Dept</th>
      <th>Start time</th>
      <th>End Time</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
      <!-- Full available -->
    <% (availabilities + partial_availabilities).uniq.each do |availability| %>
      <tr <%== availability_status_class(availability, @event) %>>
        <td><%= link_to availability_status_label(availability, @event), availability_path(availability) %></td>
        <td><%= availability.person.icsid %></td>
        <td><%= link_to availability.person.fullname, availability.person %></td>
        <td><%= number_to_phone(availability.person.phone) %></td>
        <td><%= availability.person.dept_shortname %></td>
        <td><time><%= availability.start_time %></time></td>
        <td><%= availability.end_time %></td>
        <td><%= truncate(availability.description, length: 24) %></td>
      </tr>
    <% end %>

  </tbody>
</table>
