<% content_for :sidebar do %>
  <%= sidebar_button_link 'Edit Availability', edit_availability_path(@availability) %>
<% end %>

<p>
  <b>Person:</b>
  <%= link_to @availability.person.fullname, @availability.person %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @availability.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @availability.end_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @availability.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @availability.description %>
</p>
