<%= link_to 'Version 2.6.0', 'https://github.com/ReadyResponder/ReadyResponder/releases' %>
<% if current_user %>
  <%= current_user.email %>
  <%= current_user.roles.map{ |role| role.name.to_s } %>
<% end %>
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>