<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ||= "BEMA" %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if current_user then %>
      <%= render "layouts/top-menu" %>
    <% end %>
    <div class="container">
      <div class="row">
        <div id="sidebar" class="span1">
          <%= yield :sidebar %>
          <% flash.each do |name,msg| %>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          <% end %>
          <%= content_tag :p, flash[notice], :class => "notice" if flash[notice] %>
          <%= content_tag :p, flash[alert], :class => "alert" if flash[alert] %>
        </div>
        <div class="span11">
          <%= yield %></br></br>
          <div>
            <%= render "layouts/footer" %>
          </div>
        </div>
      </div>  
    </div>
  </body>
</html>
