<!DOCTYPE html>
<html>
<head>
  <title>BEMA</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user then %>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</a>
	<a class="brand" href="#">LIMS</a>
	<div class="nav-collapse">
	  <ul class="nav">
	    <li><%= link_to "People", people_path %></li>
	    <li><%= link_to "Inventory", items_path %></li>
	    <li class="dropdown">
	      <a href="#" class=dropdown-toggle" data-toggle="dropdown">
		Admin <b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
		<li><%= link_to "Courses", courses_path %></li>
		<li><%= link_to "Skills", skills_path %></li>
		<li><%= link_to "Titles", titles_path %></li>
		<li><%= link_to "Locations", locations_path %></li>
	      </ul>
	    </li>
	    <li class="dropdown">
	      <a href="#" class=dropdown-toggle" data-toggle="dropdown">
		Reports <b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
		<li><%= link_to "Attendance Sheet", signin_people_path %></li>
	      </ul>
	    </li>
	    <li class="dropdown">
	      <a href="#" class=dropdown-toggle pull-right" data-toggle="dropdown">
		Access <b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu" >
		<% if user_signed_in? %>
		  <li><%= link_to "#{current_user.email} Profile", edit_user_registration_path %></li>
		  <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
		<% else %>
		  <li><%= link_to "Sign In", new_user_session_path %></li>
		<% end %>
	      </ul>
	    </li>
	  </ul>
	</div>
      </div>
    </div>
    </div>
    <% end %>
  <div class="container">
    <div class="row">
      <div id="sidebar" class="span2">
	<%= yield :sidebar %>
      </div>
      <div class="span10">
        <% flash.each do |name,msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>
        <%= content_tag :p, flash[notice], :class => "notice" if flash[notice] %>
        <%= content_tag :p, flash[alert], :class => "alert" if flash[alert] %>
        <%= yield %></br>
        </br>
        Version 0.6
        <%= current_user.email unless current_user.nil? %>
        <%= current_user.roles.map{ |role| role.name.to_s } unless current_user.nil? %>
      </div>
    </div>  
  </div>
</body>
</html>
